<!--<table class="order-history-table">
  <thead>
    <tr>
      <th>
        № Заказа
        <span class="order-history-table__opening-icon arrow active"></span>
      </th>
      <th>
        Дата
        <span class="order-history-table__opening-icon arrow"></span>
      </th>
      <th>
        Кол - во товаров
        <span class="order-history-table__opening-icon arrow"></span>
      </th>
      <th>
        Статус
        <span class="order-history-table__opening-icon arrow"></span>
      </th>
      <th>
        Стоимость
        <span class="order-history-table__opening-icon arrow"></span>
      </th>
      <th>
        Функции
        <span class="order-history-table__opening-icon arrow"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>23</td>
      <td>3.05.2019</td>
      <td>13</td>
      <td>Отправлено</td>
      <td>2500 грн.</td>
      <td>
        <i class="order-history-table__view-icon icon"> &#xe836; </i>
        <i class="order-history-table__copy-icon icon"> &#xe806; </i>
      </td>
    </tr>
    <tr>
      <td>24</td>
      <td>10.05.2019</td>
      <td>15</td>
      <td>В ожидании</td>
      <td>2400 грн.</td>
      <td>
        <i class="order-history-table__view-icon icon"> &#xe836; </i>
        <i class="order-history-table__copy-icon icon"> &#xe806; </i>
      </td>
    </tr>
  </tbody>
</table>-->

<div class="order-history-table">
  <div class="order-history-table__item">
    № Заказа
    <span class="order-history-table__opening-icon arrow active"></span>
  </div>
  <div class="order-history-table__item">
    Дата
    <span class="order-history-table__opening-icon arrow"></span>
  </div>
  <div class="order-history-table__item">
    Кол - во товаров
    <span class="order-history-table__opening-icon arrow"></span>
  </div>
  <div class="order-history-table__item">
    Статус
    <span class="order-history-table__opening-icon arrow"></span>
  </div>
  <div class="order-history-table__item">
    Стоимость
    <span class="order-history-table__opening-icon arrow"></span>
  </div>
  <div class="order-history-table__item">
    Функции
    <span class="order-history-table__opening-icon arrow"></span>
  </div>

  <div class="order-history-table__item">23</div>
  <div class="order-history-table__item">3.05.2019</div>
  <div class="order-history-table__item">13</div>
  <div class="order-history-table__item">Отправлено</div>
  <div class="order-history-table__item">2500 грн.</div>
  <div class="order-history-table__item">
    <i class="order-history-table__view-icon icon"> &#xe836; </i>
    <i class="order-history-table__copy-icon icon"> &#xe806; </i>
  </div>

  <div class="order-history-table__item">24</div>
  <div class="order-history-table__item">10.05.2019</div>
  <div class="order-history-table__item">15</div>
  <div class="order-history-table__item">В ожидании</div>
  <div class="order-history-table__item">2400 грн.</div>
  <div class="order-history-table__item">
    <i class="order-history-table__view-icon icon"> &#xe836; </i>
    <i class="order-history-table__copy-icon icon"> &#xe806; </i>
  </div>
</div>
