.product-benefits {
   width: 100%;

   &__container {
      @include container;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      margin: 0 0 27px 0;
      font-weight: 800;
      letter-spacing: 0.01em;
      text-align: center;
   }

   &__subtitle {
      max-width: 560px;
      margin: 0 0 63px 0;
      text-align: center;

      @media screen and (max-width: 768px) {
         margin: 0 0 50px 0;
      }

      @media screen and (max-width: 425px) {
         margin: 0 0 30px 0;
      }
   }

   &__cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 31.78%);
      column-gap: 2.33%;

      @media screen and (max-width: 1024px) {
         grid-template-columns: repeat(1, 100%);
         column-gap: 0;
         row-gap: 20px;
      }
   }

   &__card {
      height: 525px;
      width: 100%;
      text-align: center;
      color: #FFFFFF;

      position: relative;
      padding: 0;

      picture {
         width: 100%;
         height: 100%;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media screen and (max-width: 1024px) {
         height: 400px;
      }

      .product-benefits {
         &__card-base-layer {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 20px 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            z-index: 2;
            transform: translate(0, -50%);
            transition: top 0.25s ease 0.05s, transform 0.25s ease 0.05s, margin-top 0.25s ease 0s;
         }

         &__card-hover-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(51, 125, 90, 0.95);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            z-index: 1;
            transform-origin: left bottom;
            transform: rotateY(90deg);
            transition: transform 0.5s ease 0s;

            p {
               max-width: 323px;
               margin: 17px 0 0 0;
            }
         }

         &__card-hover-layer-box {
            padding: 3px 20px 0 20px;
         }
      }

      &:hover {
         .product-benefits {
            &__card-hover-layer {
               transform: rotateX(0);
               transition: transform 0.5s ease 0s;
            }
         }
      }

      .card-base-layer__hover {
         --retreat: 203px;
         top: 0;
         margin-top: var(--retreat);
         transform: translate(0, 0);
         transition: top 0.25s ease 0.05s, transform 0.15s ease 0.05s, margin-top 0.25s ease 0s;
      }
   }

   &__card-icon {
      margin: 0 0 21px 7px;
      font-size: 50px;
      font-weight: normal;
   }

   &__card-heading {
      font-weight: 800;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.01em;

      @media (max-width: 1024px) {
         font-size: 36px;
      }

      @media (max-width: 768px) {
         font-size: 32px;
      }

      @media (max-width: 425px) {
         font-size: 28zpx;
      }
   }
}