.gallery {

   &__banner {
      position: relative;

      .banner {
         background-image: url("@img/gallery/banner.jpg");
      }

      .banner__title {
         margin: -24px 0 11px 0;
      }

      .banner__text {
         font-weight: 500;
      }

      .play-video {
         display: none;
      }
   }

   &__gallery-section {
      @import "../gallery/gallery-page-component.scss";
      padding: 93px 0 100px 0;
   }

   &__contacts {
      margin: 0 0 41px 0;
      padding: 102px 0 12px 0;
      background: #FBFBFB;
   }
}