.about-manufacturer {
   @include swiper-button;

   &__swiper {
      width: 100%;
      margin: 0;
   }

   &__play-icon-box {
      position: absolute;
      top: 51.5%;
      left: 50.5%;
      transform: translate(-50%, -50%);
      z-index: 10;
   }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {
   position: relative;

   img {
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-button-prev,
.swiper-button-next {}



.swiper-scrollbar {}