.eco-banner {
   width: 100%;
   height: 740px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('@img/main/eco-banner.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   @media (max-width: 1024px) {
      height: 600px;
   }

   @media (max-width: 425px) {
      height: 450px;
   }

   &__container {
      @include container;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
   }

   &__eco-icon-box {
      margin: 0 0 46px 2px;
      font-size: 74px;
      font-weight: 400;

      @media screen and (max-width: 1024px) {
         margin: 0 0 46px 0px;
      }

      @media screen and (max-width: 425px) {
         margin: 0 0 30px 0px;
         font-size: 50px;
      }
   }

   &__title {
      margin: 0 19px 17px 0;
      font-weight: 800;
      letter-spacing: 0.01em;

      @media screen and (max-width: 1024px) {
         margin: 0 0px 17px 0;
      }
   }

   &__subtitle {
      margin: 0 1px 37px 9px;
      max-width: 650px;
      font-weight: 500;
      font-size: 22px;
      line-height: 143%;
      text-align: center;
      letter-spacing: 0.01em;

      @media (max-width: 1024px) {
         margin: 0 0px 0px 0px;
         font-size: 20px;
      }

      @media (max-width: 768px) {
         font-size: 18px;
      }

      @media (max-width: 425px) {
         font-size: 15px;
      }
   }
}