.gallery-component {
   &__first-row {
      width: 100%;
      //max-height: 556px;
      max-height: 43.1vw;
      margin: 0 0 30px 0;
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
         margin: 0 0 20px 0;
         overflow: hidden;
      }

      .gallery-component {
         &__img-box {
            height: 100%;

            &:nth-child(1) {
               position: relative;
               width: 57.28%;
               margin: 0 30px 0 0;

               @media (max-width: 768px) {
                  width: 100%;
                  margin: 0 0 0 0;
               }

               &:hover {
                  .gallery-component__content {
                     display: block;
                  }
               }
            }

            &:nth-child(2) {
               width: 40.31%;

               @media (max-width: 768px) {
                  display: none;
               }
            }
         }

         &__content {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 79px 40px 0 39px;
            background: rgba(51, 125, 90, 0.97);
            color: #FFF;

            @media (max-width: 1024px) {
               padding: 50px 40px 0 39px;
            }

            @media (max-width: 768px) {
               padding: 30px 30px 0 30px;

            }

            @media (max-width: 425px) {
               padding: 15px 15px 0 15px;
            }
         }

         &__content-title {
            margin: 0 0 25px 0;
            font-size: 22px;
            font-family: Montserrat;
            letter-spacing: 0.22px;

            @media (max-width: 1024px) {
               font-size: 20px;
            }

            @media (max-width: 768px) {
               margin: 0 0 20px 0;
               font-size: 18px;
            }

            @media (max-width: 425px) {
               font-size: 15px;
            }
         }

         &__content-subtitle {
            max-width: 490px;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 500;
            //line-height: 22px;
            line-height: 148.5%;

            //letter-spacing: 0.01em;
            @media (max-width: 1024px) {
               font-size: 14px;
            }

            @media (max-width: 768px) {
               font-size: 12px;
            }

            @media (max-width: 425px) {
               font-size: 11px;
            }

            span {
               font-size: 14px;
               font-weight: 800;
               letter-spacing: 0.32px;
               line-height: 112.5%;

               //letter-spacing: 0.01em;
               @media (max-width: 1024px) {
                  font-size: 14px;
               }

               @media (max-width: 768px) {
                  font-size: 12px;
               }

               @media (max-width: 425px) {
                  font-size: 11px;
               }
            }
         }
      }
   }

   &__second-row {
      position: relative;
      width: 100%;
      max-height: 556px;
      margin: 0 0 30px 0;

      @media (max-width: 768px) {
         margin: 0 0 20px 0;
      }

      .gallery-component {
         &__img-box {
            width: 100%;
            height: 100%;
         }

         &__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 110px 0 0 0;
            background: rgba(0, 0, 0, 0.40);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFF;

            @media (max-width: 1024px) {
               padding: 0px 0 0 0;
            }

            //@media (max-width: 768px) {
            //   padding: 30px 30px 0 30px;

            //}

            //@media (max-width: 425px) {
            //   padding: 15px 15px 0 15px;
            //}
         }

         &__play-icon-box {
            margin: 0 0 30px 0;

            @media (max-width: 1024px) {
               margin: 0 0 30px 0;
            }

            @media (max-width: 768px) {
               height: 45px;
               width: 45px;
               margin: 0 0 10px 0;

            }

            @media (max-width: 425px) {
               margin: 0 0 10px 0;
            }
         }

         &__content-title {
            margin: 0 0 15px 0;
            font-size: 22px;
            font-family: Montserrat;
            letter-spacing: 0.22px;

            @media (max-width: 1024px) {
               margin: 0 0 15px 0;
               font-size: 20px;
            }

            @media (max-width: 768px) {
               margin: 0 0 5px 0;
               font-size: 18px;
            }

            @media (max-width: 425px) {
               margin: 0 0 5px 0;
               font-size: 15px;
            }
         }

         &__content-subtitle {
            max-width: 563px;
            text-align: center;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 500;
            line-height: 150%;

            @media (max-width: 1024px) {
               font-size: 13px;
            }

            @media (max-width: 768px) {
               padding: 0 15px 0 15px;
               font-size: 11px;
            }

            @media (max-width: 425px) {
               display: none;
               font-size: 10px;
            }
         }
      }
   }

   &__third-row {
      max-height: 556px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;

      @media (max-width: 768px) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 20px;
      }

      @media (max-width: 425px) {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 20px;
      }

      .gallery-component {
         &__img-box {
            width: 100%;
            height: 100%;

            @media (max-width: 425px) {
               height: 43.1995vw;
               overflow: hidden;

               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }

            &:nth-child(3) {
               position: relative;

               .gallery-component__play-icon-box {
                  position: absolute;
                  top: 50.5%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }

            &:nth-child(2) {

               @media (max-width: 768px) {
                  display: none;
               }
            }
         }


      }
   }

   &__img-box {}

   &__img {
      width: 100%;
   }
}