.lang-select {
   position: relative;
   width: 100%;
   height: 100%;
   //z-index: 1;

   &::after {
      content: "\e831";
      font-family: "nut";
      font-size: 6px;
      color: #93B474;
      bottom: 3px;
      right: 0;
      position: absolute;
      z-index: 0;

      @media screen and (max-width: 1024px) {
         bottom: calc(50% - 3px);
         right: 12px;
         z-index: 0;
      }

   }

   select {
      appearance: none;
      width: 100%;
      height: 100%;
      padding: 0 12px;
      font-weight: 500;
      font-size: 13px;
      color: #000000;
      cursor: pointer;
      position: relative;
      background: transparent;
      z-index: 1;
   }
}