.product {
   max-width: 500px;
   height: 534px;
   border: 1.5px solid #93B474;

   &__swiper {
      position: relative;
      height: 278px;
      background: #FCFCFC;
   }

   &__action-icon-box {
      position: absolute;
      top: 20px;
      left: -3px;
      width: 82px;
      height: 31px;
      background-image: url('@img/product1/action.svg');
      background-repeat: no-repeat;
      background-origin: border-box;
      background-position: left;
   }

   &__action-text {
      margin: 7px 0 0 20px;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.06em;
      color: #FFFFFF;
   }

   .swiper {}

   .swiper-wrapper {}

   .swiper-slide {
      display: flex;
      align-items: center;
   }

   .swiper-button-prev,
   .swiper-button-next {
      &::after {
         content: '';
      }

      i {
         font-size: 18px;
         color: #337D5A;
      }

      &.swiper-button-disabled {
         i {
            color: #C4C4C4;
         }
      }
   }

   .swiper-button-next {}

   &__slide-img {
      margin: 0 auto;
   }

   &__content {}

   &__table {
      padding: 19px 23px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      display: grid;
      grid-template-columns: 64.6% 31.3%;
      column-gap: 15px;
   }

   &__title {
      margin-bottom: 7px;
      grid-column: 1;
      grid-row: 1;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.01em;
   }

   &__article {
      margin-bottom: 12px;
      grid-column: 1;
      grid-row: 2;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #8A8A8A;
   }

   &__description {
      margin-bottom: 17px;
      grid-column: 1;
      grid-row: 3;
      font-weight: 600;
      font-size: 16px;
      line-height: 106%;
      letter-spacing: 0.01em;
      color: #000000;
   }

   &__weight-box {
      grid-column: 1;
      grid-row: 4;
      display: flex;
   }

   &__weight-icon-box {
      margin-right: 10px;
      align-self: center;
      color: #337D5A;
   }

   &__weight-icon {}

   &__weight-box-data {
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
   }

   &__weight-heading {
      color: #337D5A;
   }

   &__weight-data {
      color: #8A8A8A;
   }

   &__package-box {
      grid-column: 2;
      grid-row: 4;
      display: flex;
   }

   &__package-icon-box {
      margin-right: 14px;
      align-self: center;
      color: #337D5A;
   }

   &__package-icon {}

   &__package-box-data {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
   }

   &__package-heading {
      color: #8A8A8A;
   }

   &__package-data {
      color: #337D5A;
   }

   &__prise-section {}

   .prise-section {
      padding: 14px 23px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__price-box {
         display: flex;
         font-family: 'Montserrat';
         font-weight: 600;
         font-size: 15px;
         line-height: 18px;
         letter-spacing: 0.01em;
      }

      &__heading {
         margin-right: 8px;
      }

      &__price {
         font-family: 'Montserrat';
         font-size: 20px;
         line-height: 24px;
         color: #337D5A;

         span {}
      }

      &__old-price {
         font-weight: 500;
         font-size: 16px;
         line-height: 20px;
         color: #8A8A8A;

         span {}
      }

      &__button {}

      &__text {}
   }
}