<div class="restore-content">
  <div class="restore-content__container">
    <form class="restore-content__form-email">
      <h3 class="restore-content__title">Восстановление пароля</h3>
      <div class="restore-content__subtitle">
        <i class="basket-icon__icon icon"> &#xe814; </i>
        Забыли пароль?
      </div>
      <p class="restore-content__par">Введите Email Вашего аккаунта, Вам будет выслана ссылка для восстановления пароля.</p>
      <input class="input-text" type="email" name="email" placeholder="Email" required /><br />
      <button href="/" class="restore-content__submit" type="submit">
        <div>Отправить ссылку</div>
      </button>
    </form>
    <form class="restore-content__form-restore" data-redirect="account.html" id="form-redirect">
      <div class="restore-content__subtitle">
        <i class="basket-icon__icon icon"> &#xe814; </i>
        Восстановление пароля
      </div>
      <p class="restore-content__par">Введите новый пароль для Email <span>example@gmail.com</span></p>
      <input class="input-text" type="password" name="new-password" placeholder="Новый пароль*" required /><br />
      <input class="input-text" type="password" name="cenform-new-password" placeholder="Подтвердите новый пароль*" required /><br />
      <button href="/" class="restore-content__submit" type="submit">
        <div>Сменить пароль</div>
      </button>
    </form>
  </div>
</div>
