.history {
   padding: 100px 0 90px 0;

   &__container {
      @include container;
      display: grid;
      //grid-template-columns: 26.6116% 31.8606% 35.1162%;
      grid-template-columns: minmax(340px, 115fr) 165fr 151.5fr;

      //column-gap: 3.2058%;
      @media screen and (max-width: 1024px) {
         grid-template-columns: repeat(2, 1fr);
         row-gap: 20px;
      }

      @media screen and (max-width: 425px) {
         grid-template-columns: 1fr;
         row-gap: 20px;
      }
   }

   &__img-box {
      //width: 100%;
      //object-fit: cover;
      //padding-top: 69.37119%;
      padding-top: 144.152%;
      position: relative;
      //margin: 0 0 22px 0;
      flex: 1 1 auto;
      align-self: start;


      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;

      }
   }

   //&__img {
   //   width: 100%;
   //   height: 100%;
   //   object-fit: cover;
   //}

   &__about-person {
      margin: 0 41px 0 41px;
      padding: 34px 0 0 1px;

      @media screen and (max-width: 1024px) {
         margin: 0 0 0 41px;
      }

      @media screen and (max-width: 768px) {
         padding: 0;
      }

      @media screen and (max-width: 425px) {
         margin: 0;
      }
   }

   &__title {
      margin: 0 0 13px 0;

      @media screen and (max-width: 425px) {
         text-align: center;
      }
   }

   &__subtile {
      margin: 0 0 36px 2px;
      font-family: Lato;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.16px;

      @media screen and (max-width: 768px) {
         margin: 0 0 20px 0px;
      }

      @media screen and (max-width: 425px) {
         text-align: center;
      }
   }

   &__quote {
      display: flex;
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.15px;

      p {
         margin: 2px 0 0 0;
      }

      @media screen and (max-width: 425px) {
         margin: 0 30px 0 30px;
      }
   }

   &__quotes-icon-box {
      margin: -3px 13px 0 2px;
      font-size: 18px;
      color: #337D5A;

      @media screen and (max-width: 768px) {
         font-size: 14px;
      }

      @media screen and (max-width: 425px) {
         font-size: 12px;
      }
   }

   &__button {
      @include button-empty;
      width: 188px;
      height: 52px;
      margin: 58px 0 0 0;

      @media screen and (max-width: 768px) {
         width: 188px;
         height: 52px;
         margin: 30px 0 0 0;
      }

      @media screen and (max-width: 425px) {
         margin: 30px auto 0;
      }
   }

   &__text {}

   &__history-box {
      position: relative;
      padding: 34px 34px 41px 47px;
      background-color: #337D5A;
      background-image: url('@img/about-company-page/logo.svg');
      background-repeat: no-repeat;
      background-size: 322.401px 298.796px;
      background-position: 168% 114%;
      color: #FFFFFF;

      @media screen and (max-width: 1024px) {
         padding: 34px 34px 29px 41px;
         grid-column: 1/3;
      }

      @media screen and (max-width: 425px) {
         //padding: 34px 34px 29px 41px;
         grid-column: 1;
      }
   }

   &__history-title {
      margin: 0 0 33px 0;

      @media screen and (max-width: 1024px) {
         text-align: center;
      }
   }

   &__history-text {
      color: #FCFCFC;
      font-size: 14px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: 22px;

      p {
         margin: 0 0 15px 0;
      }
   }
}

.eco-banner {

   &__eco-icon {}
}

.icon {}