<div class="about-manufacturer__swiper swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="about-manufacturer__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="about-manufacturer__play-icon icon"> &#xe81b; </i>
      </div>
      <img src="@img/about-manufacturer-swiper/1.jpg" alt="image" />
    </div>
    <div class="swiper-slide">
      <div class="about-manufacturer__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="about-manufacturer__play-icon icon"> &#xe81b; </i>
      </div>
      <img src="@img/about-manufacturer-swiper/2.jpg" alt="image" />
    </div>
    <div class="swiper-slide">
      <div class="about-manufacturer__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="about-manufacturer__play-icon icon"> &#xe81b; </i>
      </div>
      <img src="@img/about-manufacturer-swiper/3.jpg" alt="image" />
    </div>
  </div>
  @@include('./swiper-button.html',{})
  <!--<div class="swiper-scrollbar"></div>-->
</div>
