<div class="about-manufacturer__swiper swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../../img/about-manufacturer-swiper/1.jpg" alt="image">
        </div>
        <div class="swiper-slide">
            <img src="../../../img/about-manufacturer-swiper/2.jpg" alt="image">
        </div>
        <div class="swiper-slide">
            <img src="../../../img/about-manufacturer-swiper/3.jpg" alt="image">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
</div>