<aside class="sidebar">
  <div class="sidebar__block block__order">
    <div class="sidebar__block-tittle">Мои заказы</div>
    <ul class="sidebar__block-list">
      <li class="sidebar__block-item block-item__orders-history">История заказов</li>
      <li class="sidebar__block-item block-item__transaction-history">История транзакций</li>
    </ul>
  </div>
  <div class="sidebar__block block__account">
    <div class="sidebar__block-tittle">Моя учетная запись</div>
    <ul class="sidebar__block-list">
      <li class="sidebar__block-item block-item__contact-information">Контактная информация</li>
      <li class="sidebar__block-item block-item__password">Пароль</li>
      <li class="sidebar__block-item block-item__address">Адрес</li>
    </ul>
  </div>
</aside>
