<aside class="sidebar">
  <div class="sidebar__block block__order">
    <div class="sidebar__block-tittle">Мои заказы</div>
    <ul class="sidebar__block-list">
      <li class="sidebar__block-item block-item__orders-history"><a href="./orders-history.html">История заказов</a></li>
      <li class="sidebar__block-item block-item__transaction-history"><a href="./transaction-history.html">История транзакций</a></li>
    </ul>
  </div>
  <div class="sidebar__block block__account">
    <div class="sidebar__block-tittle">Моя учетная запись</div>
    <ul class="sidebar__block-list">
      <li class="sidebar__block-item block-item__contact-information"><a href="./individual-contact-information.html">Контактная информация</a></li>
      <li class="sidebar__block-item block-item__password"><a href="./password.html">Пароль</a></li>
      <li class="sidebar__block-item block-item__address"><a href="./address-details.html">Адрес</a></li>
    </ul>
  </div>
</aside>
