<div class="address__country-select">@@include('./select.html',{"disabled": "Страна", "option1": "Украина", "option2": "Польша", "option3": "Чехия"})</div>
<div class="address__region-select">@@include('./select.html',{"disabled": "Область", "option1": "Хорошая", "option2": "Очуеь хорошая", "option3": "Самый хорошая"})</div>
<input class="input-text" type="text" name="city" placeholder="Город*" required /><br />
<input class="input-text" type="text" name="address" placeholder="Адрес" required /><br />
