<div class="contacts">
  <div class="contacts__container">
    <div class="contacts__content">
      <h2 class="contacts__header" id="contacts">Контакты</h2>
      <div class="contacts__data-box">
        <div class="contacts__phone-contacts-box">
          <div class="contacts__phone-icon-box">
            <i class="contacts__phone-icon icon"> &#xe82a; </i>
          </div>
          <div class="contacts__phone-box">
            <a href="tel:+38 (095) 711 11 11" class="contacts__tell">+38 (095) 711 11 11</a><br />
            <a href="tel:+38 (095) 711 11 11" class="contacts__tell">+38 (095) 711 11 11</a>
          </div>
          <div class="contacts__social">@@include('../components/messengers.html',{})</div>
        </div>
        <div class="contacts__email-box">
          <div class="contacts__email-icon-box">
            <i class="contacts__email-icon icon"> &#xe80e; </i>
          </div>
          <a href="mailto:nuts@nbsc.com.ua" class="contacts__email"> nuts@nbsc.com.ua </a>
        </div>
        <div class="contacts__office-address address-box">
          <div class="address-box__office-icon-box">
            <i class="address-box__office-icon icon"> &#xe82b; </i>
          </div>
          <div class="address-box__box">
            <div class="address-box__header">Офис и отдел продаж</div>
            <div class="address-box__data">
              Украина, г. Одесса, <br />
              ул. Космонавтов, 32
            </div>
          </div>
        </div>
        <div class="contacts__manufacturing-address address-box">
          <div class="address-box__manufacturing-icon-box">
            <i class="address-box__manufacturing-icon icon"> &#xe82c; </i>
          </div>
          <div class="address-box__box">
            <div class="address-box__header">Производство</div>
            <div class="address-box__data">
              Украина, Одесская обл, <br />
              с. Яськи, ул. Центральная, 232
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts__map">
      <iframe title="contacts map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2749.887908208149!2d30.71212577541449!3d46.43110126841016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633a7b20ed43b%3A0xfaab4e45d64743a!2z0LLRg9C70LjRhtGPINCa0L7RgdC80L7QvdCw0LLRgtGW0LIsIDMyLCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1suk!2sua!4v1686821342737!5m2!1suk!2sua" width="800" height="600" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
