<div class="gallery-component">
  <div class="gallery-component__first-row">
    <div class="gallery-component__img-box">
      <div class="gallery-component__content">
        <div class="gallery-component__content-title">SIAL Paris 2018</div>
        <div class="gallery-component__content-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></div>
      </div>
      <img src="@img/gallery-component/1.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
    <div class="gallery-component__img-box">
      <div class="gallery-component__content">
        <div class="gallery-component__content-title">SIAL Paris 2018</div>
        <div class="gallery-component__content-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></div>
      </div>
      <img src="@img/gallery-component/2.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
  </div>
  <div class="gallery-component__second-row">
    <div class="gallery-component__content">
      <div class="gallery-component__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="gallery-component__play-icon icon"> &#xe81b; </i>
      </div>
      <div class="gallery-component__content-title">Проект UBHDP</div>
      <div class="gallery-component__content-subtitle">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и проекту UBHDP за возможность получить консультацию от мировых специалистов!</div>
    </div>
    <div class="gallery-component__img-box img-box-second">
      <img src="@img/gallery-component/3.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
  </div>
  <div class="gallery-component__third-row">
    <div class="gallery-component__img-box">
      <img src="@img/gallery-component/4.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
    <div class="gallery-component__img-box">
      <img src="@img/gallery-component/5.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
    <div class="gallery-component__img-box">
      <div class="gallery-component__play-box">
        <div class="gallery-component__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
          <i class="gallery-component__play-icon icon"> &#xe81b; </i>
        </div>
        <div class="gallery-component__content">
          <div class="gallery-component__content-title">Проект UBHDP</div>
          <div class="gallery-component__content-subtitle">Вчера к нам приезжал американский агроном Рон, спасибо Мельнику Евгению и проекту <snap>UBHDP</snap> за возможность получить консультацию от мировых специалистов!</div>
        </div>
      </div>
      <img src="@img/gallery-component/6.jpg" alt="image for gallery" class="gallery-component__img" />
    </div>
  </div>
</div>
