<div class="news">
  <div class="news__container">
    <h2 class="news__title">Новости</h2>
    <div class="news__subtitle subtitle-h2">Свежие новости и полезная информация</div>
    <div class="news__swiper-button">@@include('./swiper-button.html',{})</div>
    <div class="news__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <img src="@img/news/pic.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">Центр поддержки экспорта, в студии Павел Тулба</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <div class="swiper-slide__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
              <i class="swiper-slide__play-icon icon"> &#xe81b; </i>
            </div>
            <img src="@img/news/pic2.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">В Одесской области состоялся масштабный торгово - экспортный форум</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <img src="@img/news/pic3.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">Сертификация органического производителя</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <img src="@img/news/pic.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">Центр поддержки экспорта, в студии Павел Тулба</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <div class="swiper-slide__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
              <i class="swiper-slide__play-icon icon"> &#xe81b; </i>
            </div>
            <img src="@img/news/pic2.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">В Одесской области состоялся масштабный торгово - экспортный форум</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-box">
            <img src="@img/news/pic3.jpg" alt="Image for news" class="swiper-slide__img" />
          </div>
          <div class="swiper-slide__content">
            <div class="swiper-slide__date">12.04.2019</div>
            <div class="swiper-slide__title">Сертификация органического производителя</div>
            <div class="swiper-slide__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
            <a href="one-news.html" class="swiper-slide__read-link">
              Читать
              <i class="swiper-slide__arrow-icon icon"> &#xe829; </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="news.html" class="news__button">
      <div class="news__button-text">Смотреть все новости</div>
    </a>
  </div>
</div>
