<div class="product">
  <div class="product__swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="../../card-product.html" class="product__slide-link">
          <div class="product__zoom" data-content="@@img1">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <img src="@@img1" alt="горіхи" class="product__slide-img" />
        </a>
      </div>
      <div class="swiper-slide">
        <div class="product__zoom" data-content="@@img2">
          <i class="product__zoom-icon icon"> &#xe816; </i>
        </div>
        <img src="@@img2" alt="горіхи" class="product__slide-img" />
      </div>
      <div class="swiper-slide">
        <div class="product__zoom" data-content="@@img1">
          <i class="product__zoom-icon icon"> &#xe816; </i>
        </div>
        <img src="@@img1" alt="горіхи" class="product__slide-img" />
      </div>
      <div class="swiper-slide">
        <div class="product__zoom" data-content="@@img2">
          <i class="product__zoom-icon icon"> &#xe816; </i>
        </div>
        <img src="@@img2" alt="горіхи" class="product__slide-img" />
      </div>
      <!--<div class="swiper-slide">
         <img src="@img/product1/1.jpg" alt="горіхи" class="product__slide-img">
      </div>-->
    </div>
    <div class="swiper-button-prev">
      <i class="product__weight-icon icon"> &#xe827; </i>
    </div>
    <div class="swiper-button-next">
      <i class="product__weight-icon icon"> &#xe803; </i>
    </div>
  </div>
  <div class="product__content">
    <div class="product__table">
      <h4 class="product__title">@@title</h4>
      <p class="product__article monts15">Арт: @@art</p>
      <p class="product__description p16">@@description</p>
      <div class="product__weight-box">
        <div class="product__weight-icon-box">
          <i class="product__weight-icon icon"> &#xe80a; </i>
        </div>
        <div class="product__weight-box-data">
          <div class="product__weight-heading">Масса:</div>
          <div class="product__weight-data">@@weight</div>
        </div>
      </div>
      <div class="product__package-box">
        <div class="product__package-icon-box">
          <i class="product__package-icon icon"> &#xe80b; </i>
        </div>
        <div class="product__package-box-data">
          <div class="product__package-heading">Упаковка</div>
          <div class="product__package-data">@@package</div>
        </div>
      </div>
    </div>
    <div class="product__prise-section prise-section">
      <div class="prise-section__price-box">
        <div class="prise-section__heading">Цена:</div>
        <div class="prise-section__price"><span class="prise-section__from">@@from</span>@@price<span>грн.</span></div>
        <div class="prise-section__old-price">
          <div class="prise-section__old-price-line"></div>
          @@old-price<span>@@currency</span>
        </div>
      </div>
      <button type="button" class="prise-section__button">
        <div class="prise-section__text p14">Купить</div>
      </button>
    </div>
  </div>
</div>
