<div class="product">
  <div class="product__swiper swiper">
    <!--<div class="product__action-icon-box">
      <p class="product__action-text">АКЦИЯ</p>
    </div>-->
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!--@@img1-->
        <img src="@@img1" alt="горіхи" class="product__slide-img" />
      </div>
      <div class="swiper-slide">
        <img src="@@img2" alt="горіхи" class="product__slide-img" />
      </div>
      <div class="swiper-slide">
        <!--@@img1-->
        <img src="@@img1" alt="горіхи" class="product__slide-img" />
      </div>
      <div class="swiper-slide">
        <img src="@@img2" alt="горіхи" class="product__slide-img" />
      </div>
      <!--<div class="swiper-slide">
         <img src="@img/product1/1.jpg" alt="горіхи" class="product__slide-img">
      </div>-->
    </div>
    <div class="swiper-button-prev">
      <i class="product__weight-icon icon"> &#xe827; </i>
    </div>
    <div class="swiper-button-next">
      <i class="product__weight-icon icon"> &#xe803; </i>
    </div>
  </div>
  <div class="product__content">
    <div class="product__table">
      <h4 class="product__title">@@title</h4>
      <p class="product__article">Арт: @@art</p>
      <p class="product__description">@@description</p>
      <div class="product__weight-box">
        <div class="product__weight-icon-box">
          <i class="product__weight-icon icon"> &#xe80a; </i>
        </div>
        <div class="product__weight-box-data">
          <div class="product__weight-heading">Масса:</div>
          <div class="product__weight-data">@@weight</div>
        </div>
      </div>
      <div class="product__package-box">
        <div class="product__package-icon-box">
          <i class="product__package-icon icon"> &#xe80a; </i>
        </div>
        <div class="product__package-box-data">
          <div class="product__package-heading">Упаковка</div>
          <div class="product__package-data">@@package</div>
        </div>
      </div>
    </div>
    <div class="product__prise-section prise-section">
      <div class="prise-section__price-box">
        <div class="prise-section__heading">Цена:</div>
        <div class="prise-section__price">@@price <span>грн.</span></div>
        <div class="prise-section__old-price">@@old-price<span>грн.</span></div>
      </div>
      <button type="button" class="prise-section__button">
        <div class="prise-section__text">Купить</div>
      </button>
    </div>
  </div>
</div>
