<div class="production-box">
  <div class="production-box__card">
    <div class="production-box__action-icon-box">
      <p class="production-box__action-text">АКЦИЯ</p>
    </div>
    @@include('./product-card.html',{"img1":"@img/product-card/1.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"", "price":"19", "old-price":"21", "currency":"грн."})
  </div>
  <div class="production-box__card">
    <div class="production-box__novelty-icon-box">
      <p class="production-box__novelty-text">НОВИНКА</p>
    </div>
    @@include('./product-card.html',{"img1":"@img/product-card/2.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"от ", "price":"21", "old-price":" ", "currency":"" })
  </div>
  <div class="production-box__card">@@include('./product-card.html',{"img1":"@img/product-card/3.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"от ", "price":"21", "old-price":"", "currency":""})</div>
  <div class="production-box__card">@@include('./product-card.html',{"img1":"@img/product-card/4.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"", "price":"19", "old-price":"21", "currency":"грн."})</div>
  <div class="production-box__card">@@include('./product-card.html',{"img1":"@img/product-card/5.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"от ", "price":"21", "old-price":"", "currency":""})</div>
  <div class="production-box__card">@@include('./product-card.html',{"img1":"@img/product-card/6.jpg", "img2":"@img/product-card/nuts.jpg", "title":"Грецкий орех", "art":"0091", "description":"Орех сладкий, классический, очищенный", "weight":"40г.", "package":"вакуумная","from":"от ", "price":"21", "old-price":"", "currency":""})</div>
</div>
