<div class="statistics">
  <div class="statistics__container">
    <div class="statistics__data-box data-box__garden">
      <div class="statistics__number">240</div>
      <div class="statistics__unit">Га</div>
      <div class="statistics__text">
        Cмешанных <br />
        садов
      </div>
    </div>
    <div class="statistics__data-box data-box__greenhouse">
      <div class="statistics__number">1</div>
      <div class="statistics__unit">Га</div>
      <div class="statistics__text">
        Тепличного <br />
        комплекса
      </div>
    </div>
    <div class="statistics__data-box data-box__brier">
      <div class="statistics__number">10</div>
      <div class="statistics__unit">Га</div>
      <div class="statistics__text">
        Первая промышленная плантация <br />
        шиповника в Украине
      </div>
    </div>
    <div class="statistics__data-box data-box__seedling">
      <div class="statistics__number">80</div>
      <div class="statistics__unit">%</div>
      <div class="statistics__text">
        Приживаемости <br />
        саженцев
      </div>
    </div>
  </div>
</div>
