<div class="tabs-section">
  <div class="tabs-section__tabs tabs">
    <div class="tabs__opening-box">
      <div class="tabs__select-tab">Оплата заказа</div>
      <span class="tabs__opening-icon arrow"></span>
    </div>
    <ul class="tabs__list">
      <li class="tabs__tab active-tab" id="description">
        <i class="icon"> &#xe82f; </i>
        Оплата заказа
      </li>
      <li class="tabs__tab" id="packaging">
        <i class="icon"> &#xe815; </i>
        Доставка партии
      </li>
      <li class="tabs__tab" id="payment">
        <i class="icon"> &#xe819; </i>
        Возврат товара
      </li>
    </ul>
  </div>
  <div class="tabs-section__content">
    <div class="tabs-section__content-container" data-how-content="description">
      <div class="tabs-section__text">
        <h4 class="tabs-section__content-title">Способы оплаты</h4>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe818; </i>
          </div>
          Безналичный расчет
        </div>
        <p class="tabs-section__par">Вы можете выбрать “получить реквизиты” для дальнейшей оплаты на карту, или в терминалах.</p>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe802; </i>
          </div>
          Оплата с помощью банковской карты
        </div>
        <p class="tabs-section__par">Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)</p>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe837; </i>
          </div>
          Наличный расчет
        </div>
        <p class="tabs-section__par">Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами</p>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/payment-delivery/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="packaging">
      <div class="tabs-section__text">
        <h4 class="tabs-section__content-title">Способы оплаты</h4>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe802; </i>
          </div>
          Оплата с помощью банковской карты
        </div>
        <p class="tabs-section__par">Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)</p>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe818; </i>
          </div>
          Безналичный расчет
        </div>
        <p class="tabs-section__par">Вы можете выбрать “получить реквизиты” для дальнейшей оплаты на карту, или в терминалах.</p>
        <div class="tabs-section__p-heading">
          <div class="tabs-section__title-icon">
            <i class="icon"> &#xe837; </i>
          </div>
          Наличный расчет
        </div>
        <p class="tabs-section__par">Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами</p>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/payment-delivery/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="payment"></div>
  </div>
</div>
