.for-clients {
   width: 100%;

   &__container {
      @include container;
      display: grid;
      grid-template-columns: 31.7829% repeat(2, 25.5814%);
      column-gap: 8.5271%;

      @media (max-width: 1440px) {
         column-gap: 4%;
         grid-template-columns: 40.7829% repeat(2, 25.5814%);
      }

      @media (max-width: 1024px) {
         //column-gap: 4%;
         grid-template-columns: 100%;
         row-gap: 24px;
      }
   }

   &__title {
      margin: 0 -2px 0 0;
      letter-spacing: 0.015em;
      line-height: 118%;

      @media (max-width: 1440px) {
         margin: 0;
      }

      span {
         display: block;

         @media (max-width: 1440px) {
            display: inline;
         }
      }
   }

   &__text {
      margin: 12px 0 0 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0.01em;

      @media (max-width: 1024px) {
         margin: 0;
      }

      //&:nth-child(3) {
      //   @media (max-width: 1024px) {
      //      grid-column: 2/3;
      //      grid-row: 2/ 3;
      //   }
      //}

      p {
         &:not(:last-child) {
            margin: 0 0 24px 0;
         }

      }

      span {
         font-weight: 700;
      }
   }
}