<div class="transaction-history-table">
  <div class="transaction-history-table__item">
    <p>Добавлено</p>
    <span class="transaction-history-table__opening-icon arrow active"></span>
  </div>
  <div class="transaction-history-table__item">
    <p>Статус</p>
    <span class="transaction-history-table__opening-icon arrow"></span>
  </div>
  <div class="transaction-history-table__item">
    <p>Сумма</p>
    <span class="transaction-history-table__opening-icon arrow"></span>
  </div>

  <div class="transaction-history-table__item"><p>3.05.2019</p></div>
  <div class="transaction-history-table__item"><p>Платеж принят</p></div>
  <div class="transaction-history-table__item">
    <p>2500 грн.</p>
    <div class="transaction-history-table__view-icon-block">
      <i class="transaction-history-table__view-icon icon"> &#xe836; </i>
      <div class="transaction-history-table__tip-block">@@include('../tip.html',{"text": "Просмотреть заказ"})</div>
    </div>
  </div>

  <div class="transaction-history-table__item"><p>10.05.2019</p></div>
  <div class="transaction-history-table__item"><p>Платеж принят</p></div>
  <div class="transaction-history-table__item">
    <p>2400 грн.</p>
    <div class="transaction-history-table__view-icon-block">
      <i class="transaction-history-table__view-icon icon"> &#xe836; </i>
      <div class="transaction-history-table__tip-block">@@include('../tip.html',{"text": "Просмотреть заказ"})</div>
    </div>
  </div>
</div>
