<div class="articles">
  <div class="articles__article">
    <div class="articles__img-box">
      <img src="@img/news/pic.jpg" alt="Image for news" class="articles__img" />
    </div>
    <div class="articles__content">
      <div class="articles__date">12.04.2019</div>
      <div class="articles__title">Центр поддержки экспорта, в студии Павел Тулба</div>
      <div class="articles__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
      <a href="one-news.html" class="articles__read-link">
        Читать
        <i class="articles__arrow-icon icon"> &#xe829; </i>
      </a>
    </div>
  </div>
  <div class="articles__article">
    <div class="articles__img-box">
      <div class="articles__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="articles__play-icon icon"> &#xe81b; </i>
      </div>
      <img src="@img/news/pic2.jpg" alt="Image for news" class="articles__img" />
    </div>
    <div class="articles__content">
      <div class="articles__date">12.04.2019</div>
      <div class="articles__title">В Одесской области состоялся масштабный торгово - экспортный форум</div>
      <div class="articles__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
      <a href="one-news.html" class="articles__read-link">
        Читать
        <i class="articles__arrow-icon icon"> &#xe829; </i>
      </a>
    </div>
  </div>
  <div class="articles__article">
    <div class="articles__img-box">
      <img src="@img/news/pic3.jpg" alt="Image for news" class="articles__img" />
    </div>
    <div class="articles__content">
      <div class="articles__date">12.04.2019</div>
      <div class="articles__title">Сертификация органического производителя</div>
      <div class="articles__subtitle">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</div>
      <a href="one-news.html" class="articles__read-link">
        Читать
        <i class="articles__arrow-icon icon"> &#xe829; </i>
      </a>
    </div>
  </div>
</div>
