<div class="main-article">
  <div class="main-article__container">
    <h2 class="main-article__title">Новости и статьи</h2>
    <div class="main-article__subtitle subtitle-h2">Свежие новости и полезная информация</div>
    <div class="main-article__content">
      <div class="main-article__img-box">
        <img src="@img/news-page/main-news.jpg" alt="main image" class="main-article__img" />
      </div>
      <div class="main-article__text-box">
        <div class="main-article__date">12.04.2019</div>
        <div class="main-article__title-text">Центр поддержки экспорта, в студии Павел Тулба</div>
        <div class="main-article__text">
          <p>Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” предлагает своим клиентам выгодные условия сотрудничества.</p>
          <p>Ореховый бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка продукта в Европе составляет 100 000 тонн. У Вас есть возможность зарабатывать десятки тысяч долларов в год всего на нескольких гектарах земли.</p>
        </div>
        <a href="one-news.html" class="main-article__link">
          Читать
          <i class="main-article__arrow-icon icon"> &#xe829; </i>
        </a>
      </div>
    </div>
  </div>
</div>
