<div class="video-section">
  <div class="video-section__container">
    <div class="video-section__content">
      <div class="video-section__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="video-section__play-icon icon"> &#xe81b; </i>
      </div>
      <div class="video-section__content-title">Проект UBHDP</div>
      <div class="video-section__content-subtitle">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и проекту UBHDP за возможность получить консультацию от мировых специалистов!</div>
    </div>
    <div class="video-section__img-box img-box-second">
      <img src="@img/gallery-component/3.jpg" alt="image for gallery" class="video-section__img" />
    </div>
  </div>
</div>
<a href="gallery.html" class="video-section__button">
  <div class="video-section__button-text">Посмотреть еще</div>
</a>
