.main-page__product-benefits {
  margin: 82px 0 0 0;
}

.main-page__eco-banner {
  margin: 100px 0 0 0;
}

.main-page__news {
  padding: 84px 0 0 0;
  background: rgba(249, 249, 249, 0.7);
}

.main-page__contacts {
  padding: 100px 0 0 0;
}

.top-footer {
  min-height: 84px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.top-footer__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-footer__logo-box {
  width: 217px;
  margin: 4px 7.22% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.top-footer__icon {
  width: 54px;
  height: 53px;
  margin-right: 8px;
}

.top-footer__logo-text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

.top-footer__nav {
  width: 100%;
}

.top-footer__menu-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 28px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -15px;
}

.menu-footer__item-box {
  margin-right: 15px;
}

.menu-footer__item-box:hover {
  border-bottom: 3px solid transparent;
}

.menu-footer__item {
  padding: 0 !important;
  font-weight: 600;
  letter-spacing: 0.15px;
  font-size: 15px;
}

.down-footer {
  height: 83px;
  padding: 0 0 12px 0;
}

.down-footer__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.1px;
}

.down-footer__developed span {
  color: #337D5A;
}

.down-footer__developed span span {
  font-weight: 600;
}

.down-footer__copyright-notice {
  margin: 0 7.2% 0 0;
}

.about-manufacturer .swiper-button-prev {
  left: 0;
}

.about-manufacturer .swiper-button-next {
  left: 70.5px;
}

.about-manufacturer .swiper-button-prev,
.about-manufacturer .swiper-button-next {
  top: auto;
  bottom: 1px;
  width: 70.5px;
  height: 56.5px;
  background: #337D5A;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.about-manufacturer .swiper-button-prev::after,
.about-manufacturer .swiper-button-next::after {
  content: "";
}

.about-manufacturer .swiper-button-prev.swiper-button-disabled,
.about-manufacturer .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.about-manufacturer .swiper-button-prev.swiper-button-disabled i,
.about-manufacturer .swiper-button-next.swiper-button-disabled i {
  color: rgba(255, 255, 255, 0.5);
}

.about-manufacturer__swiper {
  width: 100%;
  margin: 0;
}

.about-manufacturer__play-icon-box {
  position: absolute;
  top: 51.5%;
  left: 50.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-manufacturer {
  margin: 190px 0 0 0;
}

.about-manufacturer__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37.98% 54.26%;
  grid-template-columns: 37.98% 54.26%;
  -webkit-column-gap: 7.76%;
     -moz-column-gap: 7.76%;
          column-gap: 7.76%;
}

.about-manufacturer__content {
  margin: 27px 0 0 0;
}

.about-manufacturer__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 39px 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.about-manufacturer__text {
  margin: 0 0 45px 0;
  line-height: 26px;
}

.about-manufacturer__text p {
  margin: 0 25px 25px 0;
  font-weight: 400;
}

.about-manufacturer__text span {
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #337D5A;
}

.about-manufacturer__button {
  border: 1.5px solid #337D5A;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #337D5A;
  cursor: pointer;
  width: 170px;
  height: 52px;
  margin: 17px 0 0 0;
}

.about-manufacturer__button:hover {
  background: #337D5A;
  border: none;
}

.about-manufacturer__button:hover div {
  color: #FFFFFF;
}

.about-manufacturer__button div {
  color: #337D5A;
}

.about-manufacturer__swiper .swiper-scrollbar {
  display: none;
}

.video-modal {
  max-width: 604px;
  width: 100%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 20px 20px;
  border: 2px solid rgba(0, 0, 0, 0.45);
  background: white;
  z-index: 51;
}

.video-modal__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
}

.video-modal__icon-box {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.video-modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts {
  margin-bottom: 77px;
}

.contacts__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__content {
  min-width: 310px;
  margin-right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.contacts__data-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.contacts__header {
  font-family: "Raleway";
  margin: 12px 0px 68px -4px;
  font-weight: 800;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.01em;
}

.contacts__phone-contacts-box {
  margin-bottom: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__phone-icon-box {
  margin-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #337D5A;
}

.contacts__phone-box {
  margin-right: 47px;
  line-height: 180%;
}

.contacts__tell {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.contacts__social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacts__email-box {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__email-icon-box {
  margin: 1px 0 0 0px;
  font-size: 13px;
}

.contacts__email-icon {
  margin-right: 15px;
  color: #337D5A;
}

.contacts__office-address {
  margin-bottom: 37px;
}

.contacts__manufacturing-address .icon {
  font-size: 19px;
}

.contacts__map {
  max-width: 739px;
  max-height: 518px;
}

.contacts__map iframe {
  max-width: 100%;
  max-height: 100%;
}

.contacts .address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .address-box__office-icon-box {
  margin: -3px 0 0 0px;
  font-size: 16px;
}

.contacts .address-box .icon {
  margin-right: 14px;
  color: #337D5A;
}

.contacts .address-box__header {
  margin-bottom: 17px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.play-video {
  width: 61px;
  height: 61px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.play-video i {
  display: block;
  font-size: 46px;
  color: #FFFFFF;
}

.statistics {
  margin: 160px 0 0 0;
}

.statistics__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
}

.statistics__data-box {
  margin: 16px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  row-gap: 21px;
}

.statistics__number {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 72px;
  line-height: 77%;
  letter-spacing: 0.01em;
}

.statistics__unit {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.statistics__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
}

.data-box__garden {
  padding: 0 0 0 23px;
}

.data-box__seedling {
  padding: 0 10px 0 0;
}

.no-webp .banner-with-video {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url(../img/main/banner2.jpg); }

.no-webp .banner-with-video {
  background-image: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/banner2.jpg); }

.no-webp .banner-with-video {
  background-image: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/banner2.jpg); }

.banner-with-video {
  height: 740px;
  width: 100%;
  margin: 87px 0 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.banner-with-video__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-with-video__header {
  max-width: 1185px;
  width: 100%;
  margin: 36px 14px 67px 0;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.5px;
}

.banner-with-video__play-icon-box {
  width: 61px;
  height: 61px;
  margin: 0 17px 28px 0;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner-with-video__play-icon {
  display: block;
  font-size: 46px;
  color: #FFFFFF;
}

.banner-with-video__comment {
  margin: 0 19px 0 0;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: center;
}

.product-benefits {
  width: 100%;
}

.product-benefits__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-benefits__title {
  margin: 0 0 27px 0;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-align: center;
}

.product-benefits__subtitle {
  max-width: 560px;
  margin: 0 0 63px 0;
  text-align: center;
}

.product-benefits__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31.78%)[3];
  grid-template-columns: repeat(3, 31.78%);
  -webkit-column-gap: 2.33%;
     -moz-column-gap: 2.33%;
          column-gap: 2.33%;
}

.product-benefits__card {
  height: 525px;
  width: 100%;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.product-benefits__card:hover .product-benefits__card-text {
  display: block;
}

.product-benefits__card:hover .product-benefits__card-icon {
  margin: 28px 0 8px 11px;
}

.product-benefits__card-icon {
  margin: 0 0 21px 7px;
  font-size: 50px;
  font-weight: normal;
}

.product-benefits__card-heading {
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.01em;
}

.product-benefits__card-text {
  display: none;
  margin: 3px 7px 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.01em;
}

.product-benefits__card-text p {
  margin: 17px 0 0 0;
}

.product-benefits__card-text p:nth-child(2) {
  line-height: 139%;
}

.no-webp .product-benefits .card-walnut {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../img/main/walnuts.jpg"); }

.no-webp .product-benefits .card-walnut {
  background-image: -o-linear-gradient(transparent, transparent), url("../img/main/walnuts.jpg"); }

.no-webp .product-benefits .card-walnut {
  background-image: linear-gradient(transparent, transparent), url("../img/main/walnuts.jpg"); }

.product-benefits .card-walnut .product-benefits__card-icon {
  font-size: 76px;
}

.no-webp .product-benefits .card-walnut:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url("../img/main/walnuts.jpg"); }

.no-webp .product-benefits .card-walnut:hover {
  background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/walnuts.jpg"); }

.no-webp .product-benefits .card-walnut:hover {
  background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/walnuts.jpg"); }

.no-webp .product-benefits .card-hazelnut {
  background-image: url("../img/main/hazelnut.jpg"); }

.no-webp .product-benefits .card-hazelnut:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url("../img/main/hazelnut.jpg"); }

.no-webp .product-benefits .card-hazelnut:hover {
  background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/hazelnut.jpg"); }

.no-webp .product-benefits .card-hazelnut:hover {
  background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/hazelnut.jpg"); }

.no-webp .product-benefits .card-rosehip {
  background-image: url("../img/main/rosehip.jpg"); }

.product-benefits .card-rosehip .product-benefits__card-icon {
  margin: -2px 17px 20px 0px;
  font-size: 54px;
}

.no-webp .product-benefits .card-rosehip:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url("../img/main/rosehip.jpg"); }

.no-webp .product-benefits .card-rosehip:hover {
  background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/rosehip.jpg"); }

.no-webp .product-benefits .card-rosehip:hover {
  background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url("../img/main/rosehip.jpg"); }

.no-webp .eco-banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("../img/main/eco-banner.jpg"); }

.no-webp .eco-banner {
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/main/eco-banner.jpg"); }

.no-webp .eco-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/main/eco-banner.jpg"); }

.eco-banner {
  width: 100%;
  height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
}

.eco-banner__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.eco-banner__eco-icon-box {
  margin: 0 0 46px 2px;
  font-size: 74px;
  font-weight: 400;
}

.eco-banner__title {
  margin: 0 19px 17px 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.eco-banner__subtitle {
  margin: 0 1px 37px 9px;
  max-width: 650px;
  font-weight: 500;
  font-size: 22px;
  line-height: 143%;
  text-align: center;
  letter-spacing: normal;
}

.news {
  padding: 0 0 90px 0;
}

.news__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
}

.news__title {
  margin: 1px 0 30px -3px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.news__subtitle {
  margin: 0 0 63px 0;
  line-height: 122.2222%;
  letter-spacing: normal;
}

.news .swiper-slide {
  position: relative;
}

.news .swiper-slide__img-box {
  padding-top: 66.17647%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news .swiper-slide__content {
  padding: 23px 24px 29px;
  background: #FFFFFF;
}

.news .swiper-slide__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
  margin: 0 0 10px 0;
}

.news .swiper-slide__title {
  margin: 0 0 13px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.01em;
}

.news .swiper-slide__subtitle {
  margin: 0 10px 22px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.news .swiper-slide__read-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.news .swiper-slide__read-link:hover {
  color: #337D5A;
}

.news .swiper-slide__read-link i {
  margin: 0 0 0 4px;
  font-weight: normal;
  font-size: 10px;
}

.news .swiper-slide__play-icon-box {
  position: absolute;
  top: 51.5%;
  left: 50.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.news__swiper-button {
  width: 141px;
  position: absolute;
  top: 86.5px;
  right: var(--pdng-conteiner);
}

.news__swiper-button .swiper-button-prev {
  left: 0;
}

.news__swiper-button .swiper-button-next {
  left: 70.5px;
}

.news__swiper-button .swiper-button-prev,
.news__swiper-button .swiper-button-next {
  top: auto;
  bottom: 1px;
  width: 70.5px;
  height: 56.5px;
  background: #337D5A;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.news__swiper-button .swiper-button-prev::after,
.news__swiper-button .swiper-button-next::after {
  content: "";
}

.news__swiper-button .swiper-button-prev.swiper-button-disabled,
.news__swiper-button .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.news__swiper-button .swiper-button-prev.swiper-button-disabled i,
.news__swiper-button .swiper-button-next.swiper-button-disabled i {
  color: rgba(255, 255, 255, 0.5);
}

.news__button {
  border: 1.5px solid #337D5A;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #337D5A;
  cursor: pointer;
  width: 225px;
  height: 52px;
  margin: 68px auto 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.news__button:hover {
  background: #337D5A;
  border: none;
}

.news__button:hover div {
  color: #FFFFFF;
}

.news__button div {
  color: #337D5A;
}

.gallery-component__first-row {
  width: 100%;
  max-height: 43.1vw;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-component__first-row .gallery-component__img-box:hover .gallery-component__content {
  display: block;
}

.gallery-component__first-row .gallery-component__img-box:nth-child(1) {
  position: relative;
  width: 57.28%;
  margin: 0 30px 0 0;
}

.gallery-component__first-row .gallery-component__img-box:nth-child(2) {
  position: relative;
  width: 40.31%;
}

.gallery-component__first-row .gallery-component__img-box:nth-child(2) .gallery-component__content__content-subtitle {
  max-width: 400px;
}

.gallery-component__first-row .gallery-component__content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 79px 40px 0 39px;
  background: rgba(51, 125, 90, 0.97);
  color: #FFF;
}

.gallery-component__first-row .gallery-component__content-title {
  margin: 0 0 25px 0;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0.22px;
}

.gallery-component__first-row .gallery-component__content-subtitle {
  max-width: 490px;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 148.5%;
}

.gallery-component__first-row .gallery-component__content-subtitle span {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.32px;
  line-height: 112.5%;
}

.gallery-component__second-row {
  position: relative;
  width: 100%;
  max-height: 556px;
  margin: 0 0 30px 0;
}

.gallery-component__second-row .gallery-component__img-box {
  width: 100%;
  height: 100%;
}

.gallery-component__second-row .gallery-component__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 110px 0 0 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-component__second-row .gallery-component__play-icon-box {
  margin: 0 0 30px 0;
}

.gallery-component__second-row .gallery-component__content-title {
  margin: 0 0 15px 0;
  font-size: 22px;
}

.gallery-component__second-row .gallery-component__content-subtitle {
  max-width: 563px;
  text-align: center;
}

.gallery-component__third-row {
  max-height: 556px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.gallery-component__third-row .gallery-component__img-box {
  width: 100%;
  height: 100%;
}

.gallery-component__third-row .gallery-component__img-box:nth-child(3) {
  position: relative;
}

.gallery-component__third-row .gallery-component__img-box:nth-child(3) .gallery-component__play-box {
  position: absolute;
  top: 50.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery-component__third-row .gallery-component__img-box:nth-child(3) .gallery-component__content {
  display: none;
}

.gallery-component__third-row .gallery-component__img-box:nth-child(3) .gallery-component__content-subtitle {
  text-align: center;
  margin: 0 25px 0;
}

.gallery-component__third-row .gallery-component__img-box:nth-child(3) .gallery-component__content-subtitle snap {
  font-weight: bold;
}

.gallery-component__content {
  color: #FFF;
  font-family: Montserrat;
}

.gallery-component__content-title {
  font-size: 22px;
  letter-spacing: 0.22px;
}

.gallery-component__content-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.gallery-component__img {
  width: 100%;
  height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

@media screen and (max-width: 1440px) {
  .product-benefits__card {
    padding: 20px;
  }

  .product-benefits__card:hover .product-benefits__card-icon {
    margin: 0 0 8px 11px;
  }
}

@media (max-width: 1024px) {
  .main-page__contacts {
    padding: 70px 0 0 0;
  }

  .about-manufacturer__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .about-manufacturer__content {
    margin: 0 0 27px 0;
  }

  .about-manufacturer__title {
    width: auto;
    margin: 0 0 25px 0;
    text-align: center;
  }

  .about-manufacturer__text p {
    margin: 0 0 25px 0;
  }

  .about-manufacturer__button {
    margin: 0 auto;
  }

  .statistics {
    margin: 120px 0 0 0;
  }

  .statistics__container {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    row-gap: 40px;
  }

  .banner-with-video__header {
    margin: 0 0 67px 0;
  }

  .banner-with-video__play-icon-box {
    margin: 0 0 28px 0;
  }

  .banner-with-video__comment {
    margin: 0 0 0 0;
    font-size: 22px;
    line-height: 26px;
  }

  .product-benefits__card-heading {
    font-size: 36px;
  }

  .product-benefits__card-text {
    padding: 0 15%;
    font-size: 16px;
  }

  .eco-banner {
    height: 600px;
  }

  .eco-banner__subtitle {
    margin: 0 0px 0px 0px;
    font-size: 20px;
  }

  .news {
    padding: 0 0 60px 0;
  }

  .gallery-component__first-row .gallery-component__content {
    padding: 25px 25px 0 25px;
  }

  .gallery-component__first-row .gallery-component__content-title {
    margin: 0 0 15px 0;
    font-size: 20px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle {
    font-size: 14px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle span {
    font-size: 14px;
  }

  .gallery-component__second-row .gallery-component__content {
    padding: 0px 0 0 0;
  }

  .gallery-component__second-row .gallery-component__play-icon-box {
    margin: 0 0 30px 0;
  }

  .gallery-component__second-row .gallery-component__content-title {
    margin: 0 0 15px 0;
  }

  .gallery-component__third-row .gallery-component__img-box:nth-child(3) .gallery-component__content-subtitle {
    display: none;
  }

  .gallery-component__content-title {
    font-size: 20px;
  }

  .gallery-component__content-subtitle {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .top-footer {
    display: none;
  }

  .top-footer__logo-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-footer__logo-text {
    text-align: center;
  }

  .top-footer__menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-footer__item-box {
    margin-bottom: 5px;
  }

  .down-footer__container > div {
    text-align: center;
  }

  .down-footer__container > div:not(:last-child) {
    margin-right: 15px;
  }

  .down-footer__copyright-notice {
    margin: 0;
  }

  .about-manufacturer {
    margin-top: 120px;
  }

  .contacts {
    margin-bottom: 75px;
  }

  .product-benefits__cards {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
  }

  .product-benefits__card {
    height: 400px;
  }

  .eco-banner__eco-icon-box {
    margin: 0 0 46px 0px;
  }

  .eco-banner__title {
    margin: 0 0px 17px 0;
  }
}

@media (max-width: 768px) {
  .main-page__contacts {
    padding: 40px 0 0 0;
  }

  .banner-with-video {
    height: 600px;
  }

  .banner-with-video__comment {
    font-size: 19px;
    line-height: 22px;
  }

  .product-benefits__card-heading {
    font-size: 32px;
  }

  .product-benefits__card-text {
    padding: 0 10%;
    font-size: 14px;
  }

  .eco-banner__subtitle {
    font-size: 18px;
  }

  .news__title {
    margin: 0 0 27px -3px;
  }

  .news__subtitle {
    margin: 0 0 27px -3px;
  }

  .news__swiper-button {
    width: 110px;
    top: 159.2px;
  }

  .gallery-component__first-row {
    margin: 0 0 20px 0;
    overflow: hidden;
  }

  .gallery-component__first-row .gallery-component__img-box:nth-child(1) {
    width: 100%;
    margin: 0 0 0 0;
  }

  .gallery-component__first-row .gallery-component__img-box:nth-child(2) {
    display: none;
  }

  .gallery-component__first-row .gallery-component__content {
    padding: 25px 25px 0 25px;
  }

  .gallery-component__first-row .gallery-component__content-title {
    margin: 0 0 20px 0;
    font-size: 18px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle {
    font-size: 12px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle span {
    font-size: 12px;
  }

  .gallery-component__second-row {
    margin: 0 0 20px 0;
  }

  .gallery-component__second-row .gallery-component__play-icon-box {
    margin: 0 0 10px 0;
  }

  .gallery-component__second-row .gallery-component__content-title {
    margin: 0 0 5px 0;
  }

  .gallery-component__second-row .gallery-component__content-subtitle {
    padding: 0 15px 0 15px;
  }

  .gallery-component__third-row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .gallery-component__third-row .gallery-component__img-box:nth-child(2) {
    display: none;
  }

  .gallery-component__play-icon-box {
    height: 45px;
    width: 45px;
  }

  .gallery-component__content-title {
    font-size: 18px;
  }

  .gallery-component__content-subtitle {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .top-footer__logo-box {
    display: none;
  }

  .about-manufacturer .swiper-button-next {
    left: 55px;
  }

  .about-manufacturer .swiper-button-prev,
  .about-manufacturer .swiper-button-next {
    width: 55px;
    height: 40px;
    font-size: 14px;
  }

  .contacts {
    margin-bottom: 40px;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__data-box {
    margin-bottom: 20px;
  }

  .contacts__header {
    margin: 11px 0px 40px -5px;
  }

  .contacts__phone-contacts-box {
    margin-bottom: 20px;
  }

  .contacts__email-box {
    margin-bottom: 20px;
  }

  .contacts__office-address {
    margin-bottom: 20px;
  }

  .contacts__map iframe {
    padding: 0 0 50px 0;
  }

  .contacts .address-box__header {
    margin-bottom: 10px;
  }

  .product-benefits__subtitle {
    margin: 0 0 50px 0;
  }

  .news__swiper-button .swiper-button-next {
    left: 55px;
  }

  .news__swiper-button .swiper-button-prev,
  .news__swiper-button .swiper-button-next {
    width: 55px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .about-manufacturer {
    margin-top: 80px;
  }

  .play-video {
    height: 45px;
    width: 45px;
  }

  .banner-with-video__play-icon-box {
    height: 45px;
    width: 45px;
  }

  .product-benefits__subtitle {
    margin: 0 0 30px 0;
  }

  .eco-banner__eco-icon-box {
    margin: 0 0 30px 0px;
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  .statistics {
    margin: 80px 0 0 0;
  }

  .statistics__container {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }

  .banner-with-video {
    height: 450px;
  }

  .banner-with-video__header {
    margin: 0 0 40px 0;
  }

  .banner-with-video__comment {
    font-size: 17px;
    line-height: 23px;
  }

  .product-benefits__card-heading {
    font-size: 28zpx;
  }

  .product-benefits__card-text {
    padding: 0;
    font-size: 12px;
  }

  .eco-banner {
    height: 450px;
  }

  .eco-banner__subtitle {
    font-size: 15px;
  }

  .news__swiper-button {
    top: 154.2px;
  }

  .gallery-component__first-row .gallery-component__content {
    padding: 15px 15px 0 15px;
  }

  .gallery-component__first-row .gallery-component__content-title {
    font-size: 15px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle {
    font-size: 11px;
  }

  .gallery-component__first-row .gallery-component__content-subtitle span {
    font-size: 11px;
  }

  .gallery-component__second-row .gallery-component__play-icon-box {
    margin: 0 0 10px 0;
  }

  .gallery-component__second-row .gallery-component__content-title {
    margin: 0 0 5px 0;
  }

  .gallery-component__second-row .gallery-component__content-subtitle {
    display: none;
  }

  .gallery-component__third-row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .gallery-component__third-row .gallery-component__img-box {
    height: 43.1995vw;
    overflow: hidden;
  }

  .gallery-component__third-row .gallery-component__img-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .gallery-component__content-title {
    font-size: 15px;
  }

  .gallery-component__content-subtitle {
    font-size: 10px;
  }
}

.webp .banner-with-video { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url(../img/main/banner2.webp); }

.webp .banner-with-video { background-image: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/banner2.webp); }

.webp .banner-with-video { background-image: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/banner2.webp); }

.webp .product-benefits .card-walnut { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-walnut { background-image: -o-linear-gradient(transparent, transparent), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-walnut { background-image: linear-gradient(transparent, transparent), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-walnut:hover { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-walnut:hover { background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-walnut:hover { background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/walnuts.webp); }

.webp .product-benefits .card-hazelnut { background-image: url(../img/main/hazelnut.webp); }

.webp .product-benefits .card-hazelnut:hover { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url(../img/main/hazelnut.webp); }

.webp .product-benefits .card-hazelnut:hover { background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/hazelnut.webp); }

.webp .product-benefits .card-hazelnut:hover { background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/hazelnut.webp); }

.webp .product-benefits .card-rosehip { background-image: url(../img/main/rosehip.webp); }

.webp .product-benefits .card-rosehip:hover { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 125, 90, 0.95)), to(rgba(51, 125, 90, 0.95))), url(../img/main/rosehip.webp); }

.webp .product-benefits .card-rosehip:hover { background-image: -o-linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/rosehip.webp); }

.webp .product-benefits .card-rosehip:hover { background-image: linear-gradient(rgba(51, 125, 90, 0.95), rgba(51, 125, 90, 0.95)), url(../img/main/rosehip.webp); }

.webp .eco-banner { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../img/main/eco-banner.webp); }

.webp .eco-banner { background-image: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/main/eco-banner.webp); }

.webp .eco-banner { background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/main/eco-banner.webp); }