@charset "UTF-8";

/*Обнулення*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("../fonts/Raleway-Medium"), url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format(".woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("../fonts/Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format(".woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format(".woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format(".woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format(".woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nut";
  src: url("../fonts/nut.woff2?38424369") format("woff2"), url("../fonts/nut.woff?38424369") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nut';
    src: url('../font/nut.svg?38424369#nut') format('svg');
  }
}
*/

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "nut";
  font-style: normal;
  font-weight: normal;
  /*speak: never;*/
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-down:before {
  content: "\e801";
}

/* '' */

.icon-bank-card:before {
  content: "\e802";
}

/* '' */

.icon-breadcrumbs:before {
  content: "\e803";
}

/* '' */

.icon-cake:before {
  content: "\e804";
}

/* '' */

/*.icon-close-button-(2):before { content: '\e805'; } */

/* '' */

.icon-copy:before {
  content: "\e806";
}

/* '' */

.icon-dinner-table:before {
  content: "\e807";
}

/* '' */

.icon-eco:before {
  content: "\e808";
}

/* '' */

.icon-facebook:before {
  content: "\e809";
}

/* '' */

.icon-food-scale-tool:before {
  content: "\e80a";
}

/* '' */

.icon-group:before {
  content: "\e80b";
}

/* '' */

.icon-group4:before {
  content: "\e80c";
}

/* '' */

.icon-group5:before {
  content: "\e80d";
}

/* '' */

.icon-group8:before {
  content: "\e80e";
}

/* '' */

.icon-icon:before {
  content: "\e80f";
}

/* '' */

.icon-icon2:before {
  content: "\e810";
}

/* '' */

.icon-icon3:before {
  content: "\e811";
}

/* '' */

.icon-instagram:before {
  content: "\e812";
}

/* '' */

.icon-left-arrow:before {
  content: "\e813";
}

/* '' */

.icon-locked:before {
  content: "\e814";
}

/* '' */

.icon-lorry:before {
  content: "\e815";
}

/* '' */

.icon-magnifying-glass:before {
  content: "\e816";
}

/* '' */

.icon-man-user:before {
  content: "\e817";
}

/* '' */

.icon-museum:before {
  content: "\e818";
}

/* '' */

.icon-package:before {
  content: "\e819";
}

/* '' */

.icon-place-holder:before {
  content: "\e81a";
}

/* '' */

.icon-play-icon:before {
  content: "\e81b";
}

/* '' */

.icon-play-icon-1:before {
  content: "\e81c";
}

/* '' */

.icon-right-arrow:before {
  content: "\e81d";
}

/* '' */

.icon-right-arrow2:before {
  content: "\e81e";
}

/* '' */

.icon-right-top:before {
  content: "\e81f";
}

/* '' */

.icon-settings:before {
  content: "\e820";
}

/* '' */

.icon-shop:before {
  content: "\e821";
}

/* '' */

.icon-sticker:before {
  content: "\e822";
}

/* '' */

.icon-supermarket:before {
  content: "\e823";
}

/* '' */

.icon-telegram:before {
  content: "\e824";
}

/* '' */

.icon-vector:before {
  content: "\e825";
}

/* '' */

.icon-vector2:before {
  content: "\e826";
}

/* '' */

.icon-vector3:before {
  content: "\e827";
}

/* '' */

.icon-vector4:before {
  content: "\e828";
}

/* '' */

.icon-vector6:before {
  content: "\e829";
}

/* '' */

.icon-vector7:before {
  content: "\e82a";
}

/* '' */

.icon-vector8:before {
  content: "\e82b";
}

/* '' */

.icon-vector9:before {
  content: "\e82c";
}

/* '' */

.icon-vector10:before {
  content: "\e82d";
}

/* '' */

.icon-vector11:before {
  content: "\e82e";
}

/* '' */

.icon-vector12:before {
  content: "\e82f";
}

/* '' */

.icon-vector13:before {
  content: "\e830";
}

/* '' */

.icon-vector14:before {
  content: "\e831";
}

/* '' */

.icon-vector15:before {
  content: "\e832";
}

/* '' */

.icon-vector16:before {
  content: "\e833";
}

/* '' */

.icon-vector17:before {
  content: "\e834";
}

/* '' */

.icon-viber:before {
  content: "\e835";
}

/* '' */

.icon-view:before {
  content: "\e836";
}

/* '' */

.icon-wallet:before {
  content: "\e837";
}

/* '' */

.icon-warning-sigh:before {
  content: "\e838";
}

/* '' */

.icon-warning:before {
  content: "\e839";
}

/* '' */

.icon-whatsapp:before {
  content: "\e83a";
}

/* '' */

.icon-xmlid-835:before {
  content: "\e83b";
}

/* '' */

.icon-youtube:before {
  content: "\e83c";
}

/* '' */

.icon-zoom:before {
  content: "\e83d";
}

/* '' */

.icon-акция:before {
  content: "\e83e";
}

/* '' */

.icon-новинка:before {
  content: "\e83f";
}

/* '' */

:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1439px;
  --pdng-conteiner: 56px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}

.icon {
  font-family: "nut";
  font-style: normal;
}

h1 {
  font-size: 62px;
  line-height: 73px;
}

h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 122%;
}

h3 {
  font-size: 32px;
  letter-spacing: 0.01em;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 178%;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
}

h6 {
  font-weight: 300;
  font-size: 11px;
  line-height: 17.7px;
  letter-spacing: 0.06em;
}

.subtitle-h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.subtitle-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}

.monts15 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.p16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.p14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.main-article__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main-article__title {
  margin: 0 auto 15px;
  padding: 0 2px 0 0px;
  letter-spacing: 0.45px;
  text-align: center;
}

.main-article__subtitle {
  margin: 0 auto 63px;
  padding: 0 2px 0 0px;
  text-align: center;
  letter-spacing: normal;
}

.main-article__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30.31%;
  grid-template-columns: auto 30.31%;
  -webkit-column-gap: 3.87597%;
     -moz-column-gap: 3.87597%;
          column-gap: 3.87597%;
}

.main-article__img-box {
  max-width: 849px;
  width: 100%;
  height: 100%;
}

.main-article__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-article__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-article__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
  margin: 0 0 19px 0;
}

.main-article__title-text {
  margin: 0 63px 21px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.22px;
}

.main-article__text {
  margin: 0 0 25px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.2px;
}

.main-article__text p:not(:last-child) {
  margin: 0 0 13px 0;
}

.main-article__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.main-article__link:hover {
  color: #337D5A;
}

.main-article__link i {
  margin: 0 0 0 4px;
  font-weight: normal;
  font-size: 10px;
}

.articles {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2.4031%;
     -moz-column-gap: 2.4031%;
          column-gap: 2.4031%;
}

.articles__article {
  position: relative;
}

.articles__img-box {
  padding-top: 66.17647%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.articles img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles__content {
  padding: 22px 0px 29px;
  background: #FFFFFF;
}

.articles__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
  margin: 0 0 10px 0;
}

.articles__title {
  margin: 0 48px 12px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: 0.01em;
}

.articles__subtitle {
  margin: 0 61px 22px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.articles__read-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  line-height: 150%;
}

.articles__read-link:hover {
  color: #337D5A;
}

.articles__read-link i {
  margin: 0 0 0 4px;
  font-weight: normal;
  font-size: 10px;
}

.articles__play-icon-box {
  position: absolute;
  top: 51.5%;
  left: 50.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.video-section__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  max-height: 556px;
}

.video-section .video-section__img-box {
  width: 100%;
  height: 100%;
}

.video-section .video-section__content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--pdng-conteiner) * 2);
  height: 100%;
  margin: 0 var(--pdng-conteiner) 0 var(--pdng-conteiner);
  padding: 110px 0 0 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  color: #FFF;
}

.video-section .video-section__play-icon-box {
  margin: 0 0 30px 0;
}

.video-section .video-section__content-title {
  margin: 0 0 15px 0;
  font-size: 22px;
  letter-spacing: 0.22px;
}

.video-section .video-section__content-subtitle {
  max-width: 563px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.video-section__img {
  width: 100%;
}

.video-section__button {
  border: 1.5px solid #337D5A;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #337D5A;
  cursor: pointer;
  width: 199px;
  height: 52px;
  margin: 70px auto 0;
}

.video-section__button:hover {
  background: #337D5A;
  border: none;
}

.video-section__button:hover div {
  color: #FFFFFF;
}

.video-section__button div {
  color: #337D5A;
}

.video-section__button-text {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

body {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  color: #1A2F3F;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._lock {
  overflow: hidden;
}

main {
  margin: 179px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news-page__breadcrumbs {
  height: 64px;
  position: relative;
}

.news-page__breadcrumbs .breadcrumbs {
  top: 37px;
}

.news-page__breadcrumbs .breadcrumbs__container {
  color: #8A8A8A;
}

.news-page__main-article {
  padding: 0 0 59px 0;
}

.news-page__articles {
  padding: 0 0 24px 0;
}

.news-page__video {
  padding: 0 0 90px 0;
}

.news-page__contacts {
  margin: 0 0 40px 0;
  padding: 102px 0 13px 0;
  background: #FBFBFB;
}

@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }
}

@media (max-width: 1440px) {
  .articles__title {
    margin: 0 0px 12px 0;
  }

  .articles__subtitle {
    margin: 0 0px 22px 0;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }

  .main-article__title-text {
    margin: 0 0px 21px 0;
  }

  main {
    margin: 117px 0 0 0;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  h5 {
    font-size: 22px;
    line-height: 25px;
  }

  .subtitle-h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .subtitle-h2 {
    font-size: 16px;
  }

  .video-section .video-section__content {
    padding: 0px 0 0 0;
  }

  .video-section .video-section__play-icon-box {
    margin: 0 0 30px 0;
  }

  .video-section .video-section__content-title {
    margin: 0 0 15px 0;
    font-size: 20px;
  }

  .video-section .video-section__content-subtitle {
    font-size: 13px;
  }

  .news-page__video {
    padding: 0 0 60px 0;
  }

  .news-page__contacts {
    padding: 70px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --pdng-conteiner: 36px;
  }

  :root {
    --width-smaller-container: 67.71%;
  }

  .main-article__subtitle {
    margin: 0 auto 35px;
  }

  .main-article__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 15px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
  }

  h3 {
    font-size: 25px;
  }

  h5 {
    font-size: 19px;
    line-height: 22px;
  }

  .subtitle-h1 {
    font-size: 19px;
    line-height: 22px;
  }

  .subtitle-h2 {
    font-size: 14px;
  }

  .p16 {
    font-size: 14px;
  }

  .articles {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .articles__img-box {
    display: none;
  }

  .articles__content {
    padding: 22px 0px 0px;
  }

  .video-section .video-section__play-icon-box {
    height: 45px;
    width: 45px;
    margin: 0 0 10px 0;
  }

  .video-section .video-section__content-title {
    margin: 0 0 5px 0;
    font-size: 18px;
  }

  .video-section .video-section__content-subtitle {
    padding: 0 15px 0 15px;
    font-size: 11px;
  }

  .news-page__main-article {
    padding: 0 0 0px 0;
  }

  .news-page__contacts {
    padding: 40px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --pdng-conteiner: 12px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 28px;
    line-height: 33px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  h5 {
    font-size: 17px;
    line-height: 20px;
  }

  .subtitle-h1 {
    font-size: 17px;
    line-height: 23px;
  }

  .subtitle-h2 {
    font-size: 12px;
  }

  .video-section .video-section__play-icon-box {
    margin: 0 0 10px 0;
  }

  .video-section .video-section__content-title {
    margin: 0 0 5px 0;
    font-size: 15px;
  }

  .video-section .video-section__content-subtitle {
    display: none;
    font-size: 10px;
  }

  .video-section__button {
    margin: 60px auto 0;
  }
}