@charset "UTF-8";

/*Обнулення*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("../fonts/Raleway-Medium"), url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format(".woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("../fonts/Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format(".woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.woff2") format(".woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format(".woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format(".woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nut";
  src: url("../fonts/nut.woff2?38424369") format("woff2"), url("../fonts/nut.woff?38424369") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nut';
    src: url('../font/nut.svg?38424369#nut') format('svg');
  }
}
*/

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "nut";
  font-style: normal;
  font-weight: normal;
  /*speak: never;*/
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-down:before {
  content: "\e801";
}

/* '' */

.icon-bank-card:before {
  content: "\e802";
}

/* '' */

.icon-breadcrumbs:before {
  content: "\e803";
}

/* '' */

.icon-cake:before {
  content: "\e804";
}

/* '' */

/*.icon-close-button-(2):before { content: '\e805'; } */

/* '' */

.icon-copy:before {
  content: "\e806";
}

/* '' */

.icon-dinner-table:before {
  content: "\e807";
}

/* '' */

.icon-eco:before {
  content: "\e808";
}

/* '' */

.icon-facebook:before {
  content: "\e809";
}

/* '' */

.icon-food-scale-tool:before {
  content: "\e80a";
}

/* '' */

.icon-group:before {
  content: "\e80b";
}

/* '' */

.icon-group4:before {
  content: "\e80c";
}

/* '' */

.icon-group5:before {
  content: "\e80d";
}

/* '' */

.icon-group8:before {
  content: "\e80e";
}

/* '' */

.icon-icon:before {
  content: "\e80f";
}

/* '' */

.icon-icon2:before {
  content: "\e810";
}

/* '' */

.icon-icon3:before {
  content: "\e811";
}

/* '' */

.icon-instagram:before {
  content: "\e812";
}

/* '' */

.icon-left-arrow:before {
  content: "\e813";
}

/* '' */

.icon-locked:before {
  content: "\e814";
}

/* '' */

.icon-lorry:before {
  content: "\e815";
}

/* '' */

.icon-magnifying-glass:before {
  content: "\e816";
}

/* '' */

.icon-man-user:before {
  content: "\e817";
}

/* '' */

.icon-museum:before {
  content: "\e818";
}

/* '' */

.icon-package:before {
  content: "\e819";
}

/* '' */

.icon-place-holder:before {
  content: "\e81a";
}

/* '' */

.icon-play-icon:before {
  content: "\e81b";
}

/* '' */

.icon-play-icon-1:before {
  content: "\e81c";
}

/* '' */

.icon-right-arrow:before {
  content: "\e81d";
}

/* '' */

.icon-right-arrow2:before {
  content: "\e81e";
}

/* '' */

.icon-right-top:before {
  content: "\e81f";
}

/* '' */

.icon-settings:before {
  content: "\e820";
}

/* '' */

.icon-shop:before {
  content: "\e821";
}

/* '' */

.icon-sticker:before {
  content: "\e822";
}

/* '' */

.icon-supermarket:before {
  content: "\e823";
}

/* '' */

.icon-telegram:before {
  content: "\e824";
}

/* '' */

.icon-vector:before {
  content: "\e825";
}

/* '' */

.icon-vector2:before {
  content: "\e826";
}

/* '' */

.icon-vector3:before {
  content: "\e827";
}

/* '' */

.icon-vector4:before {
  content: "\e828";
}

/* '' */

.icon-vector6:before {
  content: "\e829";
}

/* '' */

.icon-vector7:before {
  content: "\e82a";
}

/* '' */

.icon-vector8:before {
  content: "\e82b";
}

/* '' */

.icon-vector9:before {
  content: "\e82c";
}

/* '' */

.icon-vector10:before {
  content: "\e82d";
}

/* '' */

.icon-vector11:before {
  content: "\e82e";
}

/* '' */

.icon-vector12:before {
  content: "\e82f";
}

/* '' */

.icon-vector13:before {
  content: "\e830";
}

/* '' */

.icon-vector14:before {
  content: "\e831";
}

/* '' */

.icon-vector15:before {
  content: "\e832";
}

/* '' */

.icon-vector16:before {
  content: "\e833";
}

/* '' */

.icon-vector17:before {
  content: "\e834";
}

/* '' */

.icon-viber:before {
  content: "\e835";
}

/* '' */

.icon-view:before {
  content: "\e836";
}

/* '' */

.icon-wallet:before {
  content: "\e837";
}

/* '' */

.icon-warning-sigh:before {
  content: "\e838";
}

/* '' */

.icon-warning:before {
  content: "\e839";
}

/* '' */

.icon-whatsapp:before {
  content: "\e83a";
}

/* '' */

.icon-xmlid-835:before {
  content: "\e83b";
}

/* '' */

.icon-youtube:before {
  content: "\e83c";
}

/* '' */

.icon-zoom:before {
  content: "\e83d";
}

/* '' */

.icon-акция:before {
  content: "\e83e";
}

/* '' */

.icon-новинка:before {
  content: "\e83f";
}

/* '' */

:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1439px;
  --pdng-conteiner: 56px;
  --width-smaller-container: 1044px;
  --pdng-text-conteiner: 120px;
}

.icon {
  font-family: "nut";
  font-style: normal;
}

h1 {
  font-size: 62px;
  line-height: 73px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
}

h3 {
  font-size: 22px;
  line-height: 127.27%;
}

h4 {
  font-size: 16px;
  line-height: 137.5%;
}

h6 {
  font-weight: 300;
  font-size: 11px;
  line-height: 17.7px;
  letter-spacing: 0.06em;
}

.subtitle-h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

body {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  color: #1A2F3F;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}

main {
  margin: 179px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.messengers {
  width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messengers li {
  cursor: pointer;
}

.messengers__icon-box {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #337D5A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
}

.social {
  width: 80px;
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.social li {
  cursor: pointer;
}

.social__facebook {
  color: #93B474;
}

.social__insta {
  margin-left: -3px;
}

.social__youtube {
  font-size: 16px;
}

.basket-icon {
  position: relative;
  display: block;
  width: 29px;
  height: 24px;
}

.basket-icon__icon {
  color: #337D5A;
  font-size: 23px;
}

.basket-icon__counter {
  position: absolute;
  top: 0;
  right: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #93B474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 8px;
}

.basket-icon__counter p {
  margin: 0 0 1px 0;
}

.lang-select {
  position: relative;
}

.lang-select::after {
  content: "\e831";
  font-family: "nut";
  font-size: 6px;
  color: #93B474;
  bottom: 2px;
  right: 0px;
  position: absolute;
}

.lang-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 15px;
  background: rgba(245, 245, 245, 0.5);
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
}

.header__zero {
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  left: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  z-index: 1;
}

.header__zero._active {
  top: 0;
  background: #ffffff;
  opacity: 0.78;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.top-header {
  height: 38px;
  background: rgba(245, 245, 245, 0.5);
}

.top-header._active .top-header__login-box {
  margin: 3px 0 0 0;
  font-size: 14px;
  line-height: 16px;
}

.top-header._active .top-header__icon {
  margin: 0 4px 0 -1px;
}

.top-header._active .top-header__social {
  margin: 7px -1px 0 0;
}

.top-header._active .top-header__social .social {
  width: 88px;
}

.top-header__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__discount {
  margin: 0 20px 0 15.6%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #337D5A;
}

.top-header__user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__login-box {
  margin-right: 48px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #323232;
}

.top-header__login {
  margin-right: 23px;
}

.top-header__login span:hover {
  border-bottom: 2px solid #93B474;
}

.top-header__icon {
  margin-right: 2px;
  color: #93B474;
  font-size: 11px;
}

.top-header__registration:hover {
  border-bottom: 2px solid #93B474;
}

.middle-header {
  height: 85px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 0.5);
}

.middle-header._active {
  height: 60px;
  position: relative;
  z-index: 1;
}

.middle-header._active .middle-header__comunication-section {
  display: none;
}

.middle-header._active .middle-header__basket-icon {
  display: none;
}

.middle-header._active .middle-header__burger-icon {
  margin: -1px -2px 0 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.middle-header._active .middle-header__logo-box {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.middle-header._active .middle-header__logo-box p {
  margin: 4px 0 0 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
}

.middle-header._active .middle-header__icon {
  margin: 0;
  width: 34px;
  height: 33px;
}

.middle-header__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-header__logo-section .basket-icon {
  display: none;
}

.middle-header__burger-icon {
  display: none;
}

.middle-header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0 0 0;
}

.middle-header__logo-text {
  width: 155px;
  margin: 5px 0 0 8px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.middle-header #logo-basket {
  margin: 0 -4px 11px 0px;
}

.middle-header__comunication-section {
  max-width: 762px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-header__contacts-box {
  max-width: 272px;
  width: 100%;
  margin-right: 12.2055%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-header__messengers-box {
  margin: -3px 0px 0px 0px;
}

.middle-header__tells-box {
  margin-left: 11.76%;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-header__tell-icon-box {
  display: none;
}

.middle-header__tell-icon {
  font-size: 10px;
}

.middle-header__tells {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.middle-header__tells span {
  margin-right: 3px;
  color: #337D5A;
}

.middle-header__tell {
  display: block;
}

.middle-header__tell:not(:last-child) {
  margin-bottom: 3px;
}

.middle-header__button-box {
  margin: 3px 27px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-header__button {
  width: 148px;
  height: 42px;
  margin-right: 15px;
}

.middle-header__button-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.middle-header__coment {
  width: 178px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #8A8A8A;
}

.middle-header__lang-select-wrapper {
  display: none;
}

.lower-header {
  height: 56px;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lower-header._active .lower-header__item-box {
  height: 47px;
  border-top: 0;
}

.lower-header._active .lower-header__item-box:first-child {
  padding-top: 3px;
}

.lower-header._active .lower-header__item-box:nth-child(4) {
  margin-left: 0;
}

.lower-header._active .lower-header__item {
  padding: 0;
}

.lower-header__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1153px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0 0 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lower-header__item-box:nth-child(4) {
  margin-left: 2px;
}

.menu-item {
  height: 100%;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a {
  padding: 0 7px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.menu-item:hover {
  border-bottom: 3px solid #337D5A;
  color: #337D5A;
}

.banner {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__content {
  max-width: 688px;
  width: 100%;
  margin: 55px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  margin-bottom: 32px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-align: center;
}

.banner__text {
  margin-bottom: 37px;
  text-align: center;
  color: #FFFFFF;
}

.banner__play-icon-box {
  width: 61px;
  height: 61px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner__play-icon {
  display: block;
  font-size: 46px;
  color: #FFFFFF;
}

.video-modal {
  max-width: 604px;
  width: 100%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 20px 20px;
  border: 2px solid rgba(0, 0, 0, 0.45);
  background: white;
  z-index: 51;
}

.video-modal__container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-modal__icon-box {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.video-modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  min-height: 163px;
}

.top-footer {
  min-height: 84px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.top-footer__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-footer__logo-box {
  width: 217px;
  margin: 4px 7.52% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.top-footer__icon {
  width: 54px;
  height: 53px;
  margin-right: 8px;
}

.top-footer__logo-text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
}

.top-footer__nav {
  width: 100%;
}

.top-footer__menu-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 27px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -15px;
}

.menu-footer__item-box {
  margin-right: 15px;
}

.menu-footer__item-box:hover {
  border-bottom: 3px solid transparent;
}

.menu-footer__item {
  padding: 0 !important;
  font-weight: 600;
  letter-spacing: -0.1px !important;
}

.down-footer {
  height: 83px;
  padding: 0 0 12px 0;
}

.down-footer__container {
  max-width: 1290px;
  height: 100%;
  padding: 0 var(--pdng-conteiner);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.1px;
}

.down-footer__developed span {
  color: #337D5A;
}

.down-footer__developed span span {
  font-weight: 600;
}

.down-footer__copyright-notice {
  margin: 0 7.2% 0 0;
}

@media screen and (min-width: 1025px) {
  .middle-header__button {
    background: #337D5A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .middle-header__button:hover {
    background: transparent;
    border: 1.5px solid #337D5A;
    color: #337D5A;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --width-smaller-container: 72.64%;
  }

  .middle-header__contacts-box {
    margin-right: 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .middle-header__button-box {
    margin: 3px -13px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-smaller-container: 68.95%;
  }

  main {
    margin: 117px 0 0 0;
  }

  .top-header {
    position: absolute;
    width: 100vw;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0.5)), to(rgba(245, 245, 245, 0.5)));
    background-image: -o-linear-gradient(rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0.5));
    background-image: linear-gradient(rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0.5));
    top: -156px;
    left: 0;
    -webkit-transition: display 0 ease 0s;
    -o-transition: display 0 ease 0s;
    transition: display 0 ease 0s;
    -webkit-transition: top 0.9s ease 0s;
    -o-transition: top 0.9s ease 0s;
    transition: top 0.9s ease 0s;
  }

  .top-header._active {
    top: 60px;
    left: 0;
    -webkit-transition: top 0.9s ease 0s;
    -o-transition: top 0.9s ease 0s;
    transition: top 0.9s ease 0s;
    z-index: 1;
  }

  .top-header__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .top-header__discount {
    display: none;
  }

  .top-header__user-navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .top-header__lang {
    display: none;
  }

  .middle-header {
    height: 118px;
  }

  .middle-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .middle-header__logo-section {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .middle-header__logo-section .basket-icon {
    display: block;
  }

  .middle-header__burger-icon {
    display: block;
    position: relative;
    width: 19px;
    height: 17px;
    margin-top: -3px;
    cursor: pointer;
  }

  .middle-header__burger-icon span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 3px;
    right: 0;
    top: 7.2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .middle-header__burger-icon:before,
  .middle-header__burger-icon:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2.6px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .middle-header__burger-icon:before {
    top: 0;
    width: 100%;
  }

  .middle-header__burger-icon:after {
    bottom: 0;
    width: 13px;
  }

  .middle-header__burger-icon._active span {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
  }

  .middle-header__burger-icon._active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }

  .middle-header__burger-icon._active::after {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .middle-header__comunication-section {
    max-width: inherit;
    height: 48px;
    background: rgba(245, 245, 245, 0.5);
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100vw;
    position: relative;
    right: var(--pdng-conteiner);
    padding: 0 0 0 var(--pdng-conteiner);
  }

  .middle-header__messengers-box {
    display: none;
  }

  .middle-header__tells-box {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .middle-header__tell-icon-box {
    display: block;
    margin-right: 5px;
    color: #337D5A;
  }

  .middle-header__tells {
    height: 18px;
    overflow: hidden;
  }

  .middle-header__tells:hover {
    height: 100%;
    margin-top: 17px;
    background: rgb(245, 245, 245);
  }

  .middle-header__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 18px;
    border-bottom: 1px solid #337D5A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #337D5A;
    cursor: pointer;
  }

  .middle-header__button-text {
    font-weight: 600;
  }

  .middle-header #comunication-basket {
    display: none;
  }

  .middle-header__lang-select-wrapper {
    width: 54px;
    height: 100%;
    padding: 0 12px;
    border: 1px solid #93B474;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .lower-header {
    width: 100%;
    height: auto;
    position: absolute;
    background-color: white;
    top: 97px;
    left: 0;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    -webkit-transition: display 0 ease 0s;
    -o-transition: display 0 ease 0s;
    transition: display 0 ease 0s;
    -webkit-transition: top 0.9s ease 0s;
    -o-transition: top 0.9s ease 0s;
    transition: top 0.9s ease 0s;
  }

  .lower-header._active {
    width: 100vw;
    max-height: calc(100vh - 98px);
    left: 0;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    overflow: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-transition: top 0.9s ease 0s;
    -o-transition: top 0.9s ease 0s;
    transition: top 0.9s ease 0s;
    z-index: 1;
  }

  .lower-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .lower-header__item-box {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .lower-header__item-box:hover {
    border-bottom: 0;
    color: #FFFFFF;
    width: 100vw;
    margin: 0 -12px;
    padding-left: 12px;
    background: #337D5A;
  }

  .lower-header__item-box:nth-child(4):hover {
    margin: 0 -12px !important;
  }

  .top-footer__logo-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-footer__logo-text {
    text-align: center;
  }

  .top-footer__menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-footer__item-box {
    margin-bottom: 5px;
  }

  .down-footer__container > div {
    text-align: center;
  }

  .down-footer__container > div:not(:last-child) {
    margin-right: 15px;
  }

  .down-footer__copyright-notice {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    font-size: 32px;
    line-height: 121.875%;
  }

  h3 {
    font-size: 20px;
    line-height: 125%;
  }

  .subtitle-h1 {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --pdng-conteiner: 36px;
  }

  :root {
    --width-smaller-container: 67.71%;
  }

  .middle-header__coment {
    display: none;
  }

  .top-footer__logo-box {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .subtitle-h1 {
    font-size: 19px;
    line-height: 22px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --width-smaller-container: 100%;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --pdng-conteiner: 12px;
  }

  .middle-header__logo-box {
    margin: 4px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .middle-header__icon {
    width: 29px;
    height: 28px;
    margin: 0 0 0 6px;
  }

  .middle-header__logo-text {
    margin: 7px -11px 0 0px;
    width: 135px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }

  .middle-header #logo-basket {
    margin: 0 -4px 4px 0px;
  }

  .middle-header__comunication-section {
    height: 38px;
    margin: 0 0 0 0;
  }

  .middle-header__contacts-box {
    margin-right: -5px;
  }

  .middle-header__tell-icon-box {
    margin-top: -2px;
  }

  .middle-header__tells {
    margin-top: 2px;
    font-size: 12px;
    line-height: 15px;
  }

  .middle-header__lang-select-wrapper {
    padding: 0 12px 0 13px;
  }

  .banner__content {
    margin: 21px 0 0 0;
  }

  .banner__play-icon-box {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 28px;
    line-height: 33px;
  }

  .subtitle-h1 {
    font-size: 17px;
    line-height: 23px;
  }

  .banner {
    height: 450px;
  }

  .banner__title {
    margin-bottom: 14px;
  }

  .banner__text {
    padding: 0 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 26px;
  }
}