.reset {
   background: transparent;
   color: #8A8A8A;
   font-size: 14px;
   font-weight: 600;
   line-height: normal;
   letter-spacing: 0.01em;

   &:hover {
      color: #337D5A;
   }

   &__close-button-icon {
      margin: 0 4px 0 0;
      font-size: 12px;
      font-weight: 400;
   }
}