<div class="article">
  <div class="article__img-box">
    <img src="@img/one-news/article1.jpg" alt="Трактор в полі" class="article__img" />
  </div>
  <p class="article__p">Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” предлагает своим клиентам выгодные условия сотрудничества. Ореховый бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка продукта в Европе составляет 100 000 тонн. У Вас есть возможность зарабатывать десятки тысяч долларов в год всего на нескольких гектарах земли.</p>
  <p class="article__p">Предприятие основано в 2012 году для закладки смешанного сада грецкого ореха и фундука в Одесской области. На сегодня уже заложено более 200 гектаров сада и этот процесс продолжается. Кооператив предоставляет полный цикл сопровождения: от выращивания до сбыта.</p>
  <p class="article__p">Кроме выращивания грецкого ореха и фундука, компания занимается выращиванием саженцев, разведением и выращиванием овец, а также является первой в Украине компанией, приступившей к промышленному выращиванию трюфелей на корнях фундука.</p>
  <h5 class="article__title">В Украине появится первое насаждение органического шиповника</h5>
  <p class="article__p">Наш сельскохозяйственный обслуживающий кооператив «Орех Причерноморья» был основан в 2012-ом году для закладки смешанного сада грецкого ореха и фундука. На данный момент во владении нашей компании находится 1 гектар тепличной площади и 270 гектар садовой площади, которую мы планируем расширять. «Орех Причерноморья» включен в реестр Министерства Аграрной Политики Украины.</p>
  <div class="article__list-title">Смешанный сад грецкий орех+шиповник</div>
  <ul class="article__list">
    <li class="article__p">Возможность полной механизации всех работ по саду</li>
    <li class="article__p">Невысокая стоимость смешанного сада при закладке</li>
    <li class="article__p">Необходимость в интенсивном поливе только первые четыре года</li>
    <li class="article__p">Долгий срок хранения готовой продукции и унификация сушильных камер и складов для хранения</li>
  </ul>
  <div class="article__img-box">
    <img src="@img/one-news/article2.jpg" alt="Саджанець шипшини" class="article__img" />
  </div>
  <h5 class="article__title">В Украине появится первое насаждение органического шиповника</h5>
  <p class="article__p">Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” предлагает своим клиентам выгодные условия сотрудничества. Ореховый бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка продукта в Европе составляет 100 000 тонн. У Вас есть возможность зарабатывать десятки тысяч долларов в год всего на нескольких гектарах земли.</p>
  <p class="article__p">Нами разработано и опробовано на собственной практике предложение для закладки многолетних насаждений шиповника, на земельных участках не пригодных к традиционному земледелию. Первых 5 гектар промышленной плантации шиповника, были высажены на месте бывшей сельской свалки и остатков разрушенной молочно товарной фермы.</p>
</div>
