<div class="news-box">
  <div class="news-box__container">
    <h5 class="news-box__tittle">Последние публикации</h5>
    <div class="news-box__card">
      <div class="news-box__card-img-box">
        <img src="@img/one-news/news1.jpg" alt="Зображення новин" class="news-box__card-img" />
      </div>
      <div class="news-box__card-content">
        <div class="news-box__card-date">12.04.2019</div>
        <div class="news-box__card-title">Центр поддержки экспорта, в студии Павел Тулба</div>
        <a href="one-news.html" class="news-box__link">
          Читать
          <i class="news-box__arrow-icon icon"> &#xe829; </i>
        </a>
      </div>
    </div>
    <div class="news-box__card">
      <div class="news-box__card-img-box">
        <img src="@img/one-news/news2.jpg" alt="Зображення новин" class="news-box__card-img" />
      </div>
      <div class="news-box__card-content">
        <div class="news-box__card-date">12.04.2019</div>
        <div class="news-box__card-title">Центр поддержки экспорта, в студии Павел Тулба</div>
        <a href="one-news.html" class="news-box__link">
          Читать
          <i class="news-box__arrow-icon icon"> &#xe829; </i>
        </a>
      </div>
    </div>
    <div class="news-box__card">
      <div class="news-box__card-img-box">
        <img src="@img/one-news/news3.jpg" alt="Зображення новин" class="news-box__card-img" />
      </div>
      <div class="news-box__card-content">
        <div class="news-box__card-date">12.04.2019</div>
        <div class="news-box__card-title">Центр поддержки экспорта, в студии Павел Тулба</div>
        <a href="one-news.html" class="news-box__link">
          Читать
          <i class="news-box__arrow-icon icon"> &#xe829; </i>
        </a>
      </div>
    </div>
  </div>
  <div class="news-box__social-box">
    <div class="news-box__social-title">ОРЕХ ПРИЧЕРНОМОРЬЯ</div>
    <div class="news-box__social-subtitle">Присоединяйтесь к нам в соц. сетях</div>
    <div class="news-box__social-icons">@@include('../social.html',{})</div>
  </div>
</div>
