<div class="filters">
  <!--<select name="taste" id="taste">
    <option value="">Вкусный</option>
    <option value="">Очуеь вкусный</option>
    <option value="">Самый вкусный</option>
  </select>-->
  <!--<select class="select" name="language">
    <option disabled>Выбрать</option>
    <option value="HTML">HTML</option>
    <option value="JavaScript">JavaScript</option>
    <option value="PHP">PHP</option>
  </select>-->
  @@include('../select.html',{"disabled": "Вкус", "option1": "Вкусный", "option2": "Очуеь вкусный", "option3": "Самый вкусный"})
</div>
