<div class="nuts-description">
  <div class="nuts-description__container">
    <div class="nuts-description__content">
      <h2 class="nuts-description__title">Экологически чистый грецкий орех</h2>
      <div class="nuts-description__subtitle">Оптом, и в розницу</div>

      <div class="nuts-description__text p16">@@include('./scroll-container.html',{})</div>
    </div>
    <!--<div class="nuts-description__swiper swiper">-->
    @@include('../about-manufacturer-swiper.html',{})
    <!--</div>-->
  </div>
</div>
