<div class="catalog-swiper swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide p16">
      <p>Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.</p>
      <p>Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.</p>
      <p>Орех Причерноморья – это первый и единственный в Украине сад по совместному выращиванию фундука и грецкого ореха</p>
      <p>Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.</p>
      <p>Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.</p>
      <p>Орех Причерноморья – это первый и единственный в Украине сад по совместному выращиванию фундука и грецкого ореха</p>
      <p>Sed tincidunt diam a massa pharetra faucibus. Praesent condimentum id arcu nec fringilla. Maecenas faucibus, ante et venenatis interdum, erat mi eleifend dui, at convallis nisl est nec arcu. Duis vitae arcu rhoncus, faucibus magna ut, tempus metus. Cras in nibh sed ipsum consequat rhoncus. Proin fringilla nulla ut augue tempor fermentum. Nunc hendrerit non nisi vitae finibus. Donec eget ornare libero. Aliquam auctor erat enim, a semper risus semper at. In ut dui in metus tincidunt euismod eget et lacus. Aenean et dictum urna, sed rhoncus lorem. Duis pharetra sagittis odio. Etiam a libero ut nisi feugiat tincidunt vel vitae turpis. Maecenas vel orci sit amet lorem hendrerit venenatis sollicitudin ut dui. Quisque rhoncus nibh in massa pretium scelerisque.</p>
    </div>
  </div>
  <div class="swiper-scrollbar"></div>
</div>
