<div class="product">
  <div class="product__container">
    <div class="product__title-block">
      <div class="product__title"></div>
      <div class="product__art"></div>
      <div class="product__description"></div>
    </div>
    <div class="product__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@@img1">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <a href="card-product.html" class="product__slide-link">
            <img src="@@img1" alt="горіхи" class="product__slide-img" />
          </a>
        </div>
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@@img2">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <a href="card-product.html" class="product__slide-link">
            <img src="@@img2" alt="горіхи" class="product__slide-img" />
          </a>
        </div>
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@@img1">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <a href="card-product.html" class="product__slide-link">
            <img src="@@img1" alt="горіхи" class="product__slide-img" />
          </a>
        </div>
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@@img2">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <a href="card-product.html" class="product__slide-link">
            <img src="@@img2" alt="горіхи" class="product__slide-img" />
          </a>
        </div>
      </div>
      <div class="swiper-button-prev">
        <i class="product__weight-icon icon"> &#xe827; </i>
      </div>
      <div class="swiper-button-next">
        <i class="product__weight-icon icon"> &#xe803; </i>
      </div>
    </div>
    .product__
  </div>
</div>
