<div class="product">
  <div class="product__container">
    <div class="product__title-block">
      <div class="product__title">Грецкий орех</div>
      <div class="product__art">Арт: 0091</div>
      <div class="product__title-description">Орех соленый кондитерский очищенный</div>
    </div>
    <div class="product__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@img/product-card/front.jpg">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>

          <img src="@img/product-card/front.jpg" alt="горіхи" class="product__slide-img" />
        </div>
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@img/product-card/2.jpg">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <img src="@img/product-card/2.jpg" alt="горіхи" class="product__slide-img" />
        </div>
        <div class="swiper-slide">
          <div class="product__zoom" data-content="@img/product-card/nuts.jpg">
            <i class="product__zoom-icon icon"> &#xe816; </i>
          </div>
          <img src="@img/product-card/nuts.jpg" alt="горіхи" class="product__slide-img" />
        </div>
      </div>
      <div class="swiper-button-prev">
        <i class="product__weight-icon icon"> &#xe827; </i>
      </div>
      <div class="swiper-button-next">
        <i class="product__weight-icon icon"> &#xe803; </i>
      </div>
    </div>
    <div class="product__description-block">
      <div class="product__description-table">
        <div class="product__description-name">Состав:</div>
        <div class="product__description">Ядро грецкого ореха, вымытого очищенного от кожуры, соль экстра (раствор 7%)</div>
        <div class="product__description-name">Масса нетто:</div>
        <div class="product__description">40г.</div>
        <div class="product__description-name">Энергетическая ценность:</div>
        <div class="product__description">654 Ккал.</div>
        <div class="product__description-name">Срок годности:</div>
        <div class="product__description">12 месяцев, с даты расфасовки (указана на упаковке)</div>
      </div>
      <div class="product__warning-block">
        <div class="product__warning">
          <i class="product__warning-icon icon"> &#xe838; </i>
        </div>
        <div class="product__warning-text">Хранить в помещениях, защищенных от попадания прямых, солнечных лучей, при температуре от +3 °C до +20 °C, и относительной влажности воздуха не более 75 %</div>
      </div>
      <div class="product__prise-section prise-section">
        <div class="prise-section__price-box">
          <div class="prise-section__heading">Ваша цена:</div>
          <div class="prise-section__price">19<span>грн.</span></div>
          <div class="prise-section__old-price">
            <div class="prise-section__old-price-line"></div>
            21<span>грн.</span>
          </div>
        </div>
        <button type="button" class="prise-section__button">
          <div class="prise-section__text p14">Заказать</div>
        </button>
      </div>
    </div>
  </div>
</div>
