<div class="tabs-section">
  <div class="tabs-section__tabs tabs">
    <div class="tabs__opening-box">
      <div class="tabs__select-tab">Описание</div>
      <span class="tabs__opening-icon arrow"></span>
    </div>
    <ul class="tabs__list">
      <li class="tabs__tab active-tab" id="description">Описание</li>
      <li class="tabs__tab" id="packaging">Упаковка</li>
      <li class="tabs__tab" id="payment">Оплата</li>
      <li class="tabs__tab" id="delivery">Доставка</li>
    </ul>
  </div>
  <div class="tabs-section__content">
    <div class="tabs-section__content-container" data-how-content="description">
      <div class="tabs-section__img-box">
        <img src="@img/product-card/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
      <div class="tabs-section__text">
        <p>Уже 4000 лет люди питаются ценными <a href="#">грецкими орехами.</a> Они особенно полезны послеоперационным больным, детям, кормящим, беременным женщинам. Чтобы вернуть силы, укрепить иммунитет, одолеть туберкулез, кашель; грецкий орех очищенный, отборный нужно истолочь, смешать с медом (2:1) и чайную ложку целебной смеси употреблять перед едой.</p>
        <p>В белке грецких орехов много (15 %) аргинина. Он особенно нужен детям, больным, пожилым людям, в организме которых аминокислота плохо синтезируется. Аргинин помогает сосудам регенерировать, а всему организму – победить воспаления.</p>
        <div>Другие полезные вещества грецких орехов:</div>
        <ul>
          <li>Антиоксиданты защищают печень от повреждений</li>
          <li>Полифенолы не дают образоваться сосудистым тромбам</li>
          <li>Нейропротекторы улучшают работу мозга, отодвигают старость</li>
        </ul>
        <div>Нужно систематически есть грецкие орехи, чтобы:</div>
        <ul>
          <li>На 30–40 % снизить риск заболевания раком простаты</li>
          <li>На 50 % – раком молочной железы</li>
          <li>Предотвратить дегенерацию глазной макулы, а значит, улучшить зрение</li>
          <li>Отрегулировать обмен веществ, выработку инсулина; понизить количество сахара в крови</li>
        </ul>
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="packaging">
      <div class="tabs-section__img-box">
        <img src="@img/product-card/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
      <div class="tabs-section__text">
        <p>Оптимальная упаковкой для любого продукта будет экономически выгодная, привлекательного внешнего вида, удобная для потребителя, прочная и безопасная тара. Упаковка для орехов не является исключением. Кроме того, она обязательно должна быть герметичной (защищая орехи от воздействия влаги, посторонних запахов, пыли, насекомых и прочих вредных факторов окружающей среды), непрозрачной или металлизированной для предотвращая возникновение горького привкуса под воздействие солнечного света.</p>
        <p>Размер и вид упаковки для орехов выбирается в зависимости от объема фасуемой порции, предпочтений и финансовых возможностей целевой аудитории покупателей, а также с учетом особенностей будущего хранения упакованной продукции.</p>
        <div>В конечном итоге идеальный вариант тары и тип фасовочного оборудования для расфасовки орехов следует выбирать исходя из вида фасуемого продукта:</div>
        <ul>
          <li>орехи в натуральном или обработанном виде;</li>
          <li>в скорлупе или очищенные;</li>
          <li>форма ядра ореха.</li>
        </ul>
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="payment">
      <div class="tabs-section__img-box">
        <img src="@img/product-card/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
      <div class="tabs-section__text">
        <p>Товар оплачивается наличными только в национальной валюте. При совершении оплаты Вы получаете товарный чек.</p>
        <p>Оплата совершается картами Visa и MasterCard любого банка без комиссии следующим образом: при оформлении заказа на сайте Вам будет предложено сделать выбор способа оплаты. В графе «Оплата» нужно выбрать пункт «Картой на сайте». После этого Вы будете переадресованы на страницу системы безопасных платежей. Наличие паспорта плательщика является единственным условием при получении заказа.</p>
        <p>При оформлении заказа через корзину сайта счет будет от ООО «Эпицентр К». Цены на сайте и в счете указаны с учетом НДС. Для оплаты товаров по безналичному расчету вам необходимо при оформлении заказа выбрать тип оплаты «Безналичная» и заполнить рекомендованные поля. После согласования с менеджером отдела безналичного расчета или подтверждения в автоматическом режиме, а также подтверждение резерва вам на электронную почту будет выслан счет-фактуру.</p>
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="delivery">
      <div class="tabs-section__img-box">
        <img src="@img/product-card/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
      <div class="tabs-section__text">
        <p>Вы можете бесплатно получить свой интернет заказ в одном из наших Центров выдачи заказов. О готовности интернет заказа к выдаче Вам будет сообщено с помощью SMS-сообщения, после согласования с оператором или подтверждения заказа в автоматическом режиме, при наличии достаточного количества товара в выбранном Центре выдачи заказов.</p>
        <p>Самовывоз из отделений почтовых операторов</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
