.order-history-table {
   display: grid;
   grid-template-columns: repeat(6, minmax(max-content, auto));

   &__view-icon {
      margin: 0px 13px 0 -4px;
      font-size: 24px;
      color: #8A8A8A;

      &:hover {
         color: #337D5A;
      }
   }

   &__copy-icon {
      font-size: 22px;
      color: #8A8A8A;

      &:hover {
         color: #337D5A;
      }
   }
}

.order-history-table__item {
   position: relative;
   height: 62px;
   padding: 6px 10px 0 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 500;
   line-height: 228.571%;

   &:nth-child(1) {
      padding: 6px 10px 0 4px;
   }

   &:nth-child(2) {
      padding: 6px 10px 0 11px;
   }

   &:nth-child(3) {
      padding: 6px 5px 0 10px;
   }

   &:nth-child(4) {
      padding: 6px 9px 0 10px;
   }

   &:nth-child(5) {
      padding: 6px 17px 0 8px;
   }

   &:nth-child(6) {
      padding: 6px 0px 0 10px;
   }

   &:nth-child(6n+7) {
      padding: 6px 29px 0 1px;
   }

   &:nth-child(6n+8) {
      padding: 6px 14px 0 4px;
   }

   &:nth-child(6n+9) {
      padding: 6px 16px 0 4px;
   }

   &:nth-child(6n+10) {
      padding: 6px 15px 0 4px;
   }

   &:nth-child(6n+11) {
      padding: 6px 31px 0 10px;
   }

   &:nth-child(6n+12) {
      padding: 7px 3px 0 4px;
   }
}

.order-history-table__item:nth-child(1),
.order-history-table__item:nth-child(2),
.order-history-table__item:nth-child(3),
.order-history-table__item:nth-child(4),
.order-history-table__item:nth-child(5),
.order-history-table__item:nth-child(6) {
   height: 68px;
   font-family: Raleway;
   background: #FBFBFB;
   font-size: 16px;
   font-weight: 700;
   line-height: 200%;
}

.order-history-table__item:nth-child(12n+13),
.order-history-table__item:nth-child(12n+14),
.order-history-table__item:nth-child(12n+15),
.order-history-table__item:nth-child(12n+16),
.order-history-table__item:nth-child(12n+17),
.order-history-table__item:nth-child(12n+18) {
   background: rgba(51, 125, 90, 0.10);
}


.order-history-tabl__icon {
   margin-right: 4px;
}

.arrow {
   display: inline-block;
   width: 8px;
   height: 8px;
   border-style: solid;
   border-width: 2px;
   border-color: transparent transparent #8A8A8A #8A8A8A;
   margin: 3px 0 0 8px;
   transform: translateY(-50%) rotate(-45deg);
   transition: transform 0.3s;
}

.active {
   border-color: transparent transparent #93B474 #93B474;
}