<div class="history">
  <div class="history__container">
    <div class="history__img-box">
      <img src="@img/about-company-page/portrait.jpg" alt="portrait" class="history__img" />
    </div>
    <div class="history__about-person">
      <h3 class="history__title">Павел Тулба</h3>
      <div class="history__subtile">
        Учередитель и владелец<br />
        предприятия “Орех Причерноморья”
      </div>
      <div class="history__quote">
        <div class="history__quotes-icon-box">
          <i class="history__quotes-icon icon"> &#xe82d; </i>
        </div>
        <p>Главная наша цель – получить максимальную прибыль с одного гектара.</p>
      </div>
      <a href="" class="history__button">
        <div class="history__text">Написать нам</div>
      </a>
    </div>
    <div class="history__history-box">
      <h3 class="history__history-title">История предприятия</h3>
      <div class="history__history-text">
        <p>
          Наше предприятие основано в 2012 году<br />
          для закладки смешанного сада грецкого ореха<br />
          и фундука.
        </p>
        <p>На сегодня мы уже заложили более 100 гектаров сада и продолжаем расширять свои насаждения. Кроме выращивания грецкого ореха и фундука, мы занимаемся выращиванием саженцев, разведением и выращиванием овец, а также являемся первой в Украине компанией, приступившей к промышленному выращиванию трюфелей на корнях фундука.</p>
        <p>
          Земля, которой пользуется кооператив,<br />
          является собственностью членов нашего<br />
          кооператива.
        </p>
      </div>
    </div>
  </div>
</div>
