<form class="login-form" data-redirect="restore-password.html" id="form-redirect">
  <fieldset class="login-form__fieldset">
    <h3 class="login-form__title">Войти в личный кабинет</h3>
    <input class="input-text" type="email" name="email" placeholder="Email" required /><br />
    <input class="input-text" type="password" name="password" placeholder="Пароль" required /><br />
    <a href="restore-password.html" class="login-form__forgot-password"> Забыли пароль?</a>
    <button href="/" class="login-form__submit" type="submit"><div>Войти</div></button>
    <a href="registration.html" class="login-form__registration">Регистрация</a>
  </fieldset>
</form>
