<div class="table-wrapper">
  <table class="basket-table">
    <colgroup>
      <col class="basket-table__commodity-col" />
      <col class="basket-table__number-col" />
      <col class="basket-table__price-col" />
      <col class="basket-table__total-col" />
    </colgroup>
    <thead>
      <tr>
        <th>
          Товар
          <span class="basket-table__opening-icon arrow active"></span>
        </th>
        <th>
          Кол - во
          <span class="basket-table__opening-icon arrow"></span>
        </th>
        <th>
          Цена за товар
          <span class="basket-table__opening-icon arrow"></span>
        </th>
        <th>
          Итоговая стоимость
          <span class="basket-table__opening-icon arrow"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="first">Орех соленый 80г.</td>
        <td>
          <i class="basket-table__decrease-icon icon"> &#xe833; </i>
          <input type="number" class="basket-table__number" aria-label="first" name="first" value="4" min="0" />
          <i class="basket-table__increase-icon icon"> &#xe834; </i>
        </td>
        <td>25 грн.</td>
        <td>100 грн.</td>
      </tr>
      <tr>
        <td id="second">Орех соленый 80г.</td>
        <td>
          <i class="basket-table__decrease-icon icon"> &#xe833; </i>
          <input type="number" class="basket-table__number" name="second" aria-label="second" value="1" min="0" />
          <i class="basket-table__increase-icon icon"> &#xe834; </i>
        </td>
        <td>25 грн.</td>
        <td>25 грн.</td>
      </tr>
      <tr>
        <td id="third">Орех соленый 80г.</td>
        <td>
          <i class="basket-table__decrease-icon icon"> &#xe833; </i>
          <input type="number" class="basket-table__number" name="third" aria-label="third" value="1" min="0" />
          <i class="basket-table__increase-icon icon"> &#xe834; </i>
        </td>
        <td>25 грн.</td>
        <td></td>
      </tr>
      <tr>
        <td id="fourth">Орех соленый 80г.</td>
        <td>
          <i class="basket-table__decrease-icon icon"> &#xe833; </i>
          <input type="number" class="basket-table__number" name="fourth" aria-label="fourth" value="1" min="0" />
          <i class="basket-table__increase-icon icon"> &#xe834; </i>
        </td>
        <td>25 грн.</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="basket-table__order-block">
  <a href="catalog.html" class="basket-table__to-shopping">
    <div>
      <i class="basket-table__arrow-icon icon"> &#xe827; </i>
      Продолжить покупки
    </div>
  </a>
  <div class="basket-table__place-order-block">
    <div class="basket-table__total-block total-block">
      <div class="total-block__text">Всего</div>
      <div class="total-block__total">175</div>
      <div class="total-block__currency">грн.</div>
    </div>
    <a href="placing-order.html" class="basket-table__placing-order">
      <div>Оформить заказ</div>
    </a>
  </div>
</div>
<div class="basket-table__for-order-block">
  <div class="basket-table__for-order-title">Для оформления заказа необходимо</div>
  <p class="basket-table__for-order-lincks"><a href="Login.html">Авторизоваться</a> или <a href="registration.html">Зарегистрироваться</a></p>
</div>
