@import "./components/nullstyle";

@import "fonts/fonts";
@import "./fonts/nut.scss";

//Те що часто використовується
@import "./components/often";

// Variable
@import "./components/variable";

// Загальні стилі
@import "./components/global";

@import "../../node_modules/swiper/swiper.scss";
@import '../../node_modules/swiper/modules/navigation/navigation.scss';

@import "./components/header.scss";
@import "./components/footer";

@import "./components/breadcrumbs.scss";
@import "./components/about-company/about-manufacturer.scss";
@import "./components/about-company/history.scss";
@import "./components/about-company-gallery.scss";
@import "./components/banner.scss";
@import "./components/video-modal.scss";
@import "./components/play-video.scss";
@import "./components/main/about-manufacturer.scss";
@import "./components/statistics.scss";
@import "./components/gallery-component.scss";
@import "./components/eco-banner.scss";
@import "./components/news.scss";
@import "./components/contacts.scss";

body {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 14px;
   color: #1A2F3F;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
}

._lock {
   overflow: hidden;
}


main {
   margin: 179px 0 0 0;
   flex: 1 1 auto;

   @media screen and (max-width: 1024px) {
      margin: 117px 0 0 0;
   }

}

.about-page {

   &__banner {
      position: relative;

      @media screen and (max-width: 1024px) {
         margin-bottom: 75px;
      }

      @media screen and (max-width: 768px) {
         margin-bottom: 40px;
      }

      .banner {
         &__shading {
            background: rgba(0, 0, 0, 0.45);
         }
      }

   }

   &__about-manufacturer {
      .swiper {
         max-height: 472px;
      }

      .about-manufacturer {
         margin: 100px 0 68px 0;

         @media screen and (max-width: 1024px) {
            margin: 0 0 0 0;
         }

         &__content {
            margin: 28px 0 0 0;
         }

         &__title {
            margin: 0 0px 42px 0;
         }

         &__text {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.16px;

            p {
               margin: 0 33px 33px 0;

               &:nth-child(2) {
                  margin: 0 0px 28px 0;
               }
            }
         }
      }
   }

   &__history {
      background: #FBFBFB;
   }

   &__statistics {
      padding: 0 0 85px 0;

      .statistics {
         margin: 70px 0 0 0;
      }
   }

   &__gallery {
      padding: 90px 0 100px 0;
      background: #FBFBFB;

      @media (max-width:1024px) {
         padding: 90px 0 68px 0;
      }

      @media (max-width: 425px) {
         padding: 60px 0 60px 0;
      }
   }

   &__eco-banner {
      .eco-banner {
         background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("@img/about-company-page/eco-banner.jpg");

         &__eco-icon-box {
            margin: 54px 0 42px 2px;
         }

         &__title {
            margin: 0 19px 12px 0;
         }
      }
   }

   &__news {
      padding: 87px 0 0 0;
      background: rgba(249, 249, 249, 0.70);
   }

   &__contacts {
      padding: 101px 0 0 0;
   }
}