@import "./components/nullstyle";

@import "fonts/fonts";
@import "./fonts/nut.scss";

//Те що часто використовується
@import "./components/often";

// Variable
@import "./components/variable";

// Загальні стилі
@import "./components/global";

body {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 14px;
   color: #1A2F3F;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
}

._lock {
   overflow: hidden;
}


main {
   margin: 179px 0 0 0;
   flex: 1 1 auto;

   @media screen and (max-width: 1024px) {
      margin: 117px 0 0 0;
   }

}

.catalog {
   position: relative;

   .breadcrumbs {
      //color: #FFF;
      z-index: 2;
   }

   &__productions {}

   &__productions-container {
      @include container;
   }
}

@import "../../node_modules/swiper/swiper.scss";
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
@import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';

@import "./components/header.scss";
@import "./components/footer";

@import "./components/breadcrumbs.scss";
@import "./components/small-banner.scss";
@import "./components/catalog/filters.scss";
@import "./components/productions.scss";
@import "./components/product-card.scss";
@import "./components/contacts.scss";