@import "./components/nullstyle";

@import "fonts/fonts";
@import "./fonts/nut.scss";

//Те що часто використовується
@import "./components/often";

// Variable
@import "./components/variable";

// Загальні стилі
@import "./components/global";

@import "./components/news/main-article.scss";
@import "./components/news/articles.scss";
@import "./components/news/vido-section.scss";

body {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 14px;
   color: #1A2F3F;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
}

._lock {
   overflow: hidden;
}


main {
   margin: 179px 0 0 0;
   flex: 1 1 auto;

   @media screen and (max-width: 1024px) {
      margin: 117px 0 0 0;
   }

}

.news-page {

   &__breadcrumbs {
      height: 64px;
      position: relative;

      .breadcrumbs {
         top: 37px;

         &__container {
            color: #8A8A8A;
         }
      }
   }

   &__main-article {
      padding: 0 0 59px 0;

      @media (max-width: 768px) {
         padding: 0 0 0px 0;
      }
   }

   &__articles {
      padding: 0 0 24px 0;
   }

   &__video {
      padding: 0 0 90px 0;

      @media (max-width: 1024px) {
         padding: 0 0 60px 0;
      }
   }

   &__contacts {
      margin: 0 0 40px 0;
      padding: 102px 0 13px 0;
      background: #FBFBFB;

      @media (max-width: 1024px) {
         padding: 70px 0 0 0;
      }

      @media (max-width: 768px) {
         padding: 40px 0 0 0;
      }
   }
}