@import "./components/nullstyle";

@import "fonts/fonts";
@import "./fonts/nut.scss";

//Те що часто використовується
@import "./components/often";

// Variable
@import "./components/variable";

// Загальні стилі
@import "./components/global";

body {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 14px;
   color: #1A2F3F;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
}

._lock {
   overflow: hidden;
}


main {
   margin: 179px 0 0 0;
   flex: 1 1 auto;

   @media screen and (max-width: 1024px) {
      margin: 117px 0 0 0;
   }

}

.orders-history {
   //position: relative;

   &__breadcrumbs {
      height: 64px;
      position: relative;

      .breadcrumbs {
         top: 37px;

         &__container {
            color: #8A8A8A;
         }

         &__link:nth-child(3) {
            display: inline-block;
         }

         &__right-arrow-icon:nth-child(4) {
            display: inline-block;
         }
      }
   }

   &__account {
      .sidebar {
         .block-item__orders-history {
            @include active-account-item;
         }
      }
   }

   &__contacts {
      padding: 102px 0 54px 0;
      background: #FBFBFB;

      @media (max-width: 1024px) {
         padding: 70px 0 54px 0;
      }

      @media (max-width: 768px) {
         padding: 40px 0 54px 0;
      }
   }
}

@import "./components/header.scss";
@import "./components/footer";

@import "./components/breadcrumbs.scss";
@import "./components/orders-history/acount.scss";
@import "./components/account-sidebar.scss";
@import "./components/orders-history/order-history-table.scss";
@import "./components/contacts.scss";