@import "nullstyle";
// Підключення шрифтів
//&display=swap - додати при підключенні через плагін
//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

@import "fonts/fonts";
@import "./fonts/nut.scss";

//Те що часто використовується
@import "often";

// Variable
@import "variable";

// Загальні стилі
@import "global";

//@import "../../node_modules/swiper/swiper.scss";
//@import "../../node_modules/swiper/modules/navigation/navigation.scss";
//@import "../../node_modules/swiper/modules/pagination/pagination.scss";
//@import "../../node_modules/swiper/modules/scrollbar/scrollbar.scss";

body {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 14px;
   color: #1A2F3F;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
}

._lock {
   overflow: hidden;
}

.wrapper {
   position: relative;
   max-width: 1920px;
   min-height: 100%;
   margin: 0 auto;
   //background-color: #e5e5e5;
}

main {
   margin: 179px 0 0 0;
   flex: 1 1 auto;

   @media screen and (max-width: 1024px) {
      margin: 117px 0 0 0;
   }
}

.main-page {

   .production {
      margin-top: 83px;

      &__container {
         @include container;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__title {
         margin: 0 0 27px 0;
         color: #1A2F3F;
      }

      &__subtitle {
         max-width: 615px;
         margin: 0 0 62px 0;
         text-align: center;
         color: #1A2F3F;
      }

      //&__box {}

      &__button {
         @include button-empty;
         width: 200px;
         height: 52px;
         margin: 70px 0 0 0;
         font-family: 'Raleway';
         font-weight: 700;
         font-size: 15px;
         line-height: 18px;
         letter-spacing: 0.02em;
      }

      //&__button-text {}
   }

   &__product-benefits {
      margin: 82px 0 0 0;
   }

   &__eco-banner {
      margin: 100px 0 0 0;
   }

   &__news {
      padding: 84px 0 0 0;
      background: rgba(249, 249, 249, 0.7);
   }

   &__contacts {
      padding: 100px 0 0 0;

      @media (max-width: 1024px) {
         padding: 70px 0 0 0;
      }

      @media (max-width: 768px) {
         padding: 40px 0 0 0;
      }
   }
}

@import "../../node_modules/swiper/swiper.scss";
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
@import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';

@import "./components/header.scss";
@import "./components/footer";

@import "./components/main/banner.scss";
@import "./components/main/about-manufacturer.scss";

@import "./components/video-modal.scss";
@import "./components/product-card.scss";
@import "./components/contacts.scss";
@import "./components/productions.scss";
@import "./components/play-video.scss";
@import "./components/statistics.scss";
@import "./components/banner_with_video.scss";
@import "./components/main/product-benefits.scss";
@import "./components/eco-banner.scss";
@import "./components/news.scss";
@import "./components/gallery-component.scss";
@import "./components/breadcrumbs.scss";

// PAGE
@import "./components/page/about-company.scss";
@import "./components/page/gallery-page.scss";
@import "./components/page/news.scss"

//@import "pop-up";
//@import "pop-up2";