<div class="for-clients">
  <div class="for-clients__container">
    <h2 class="for-clients__title">Оптовым <span>и корпоративным</span> клиентам</h2>
    <div class="for-clients__text">
      <p>Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” предлагает своим клиентам выгодные условия сотрудничества.</p>
      <p>Особые условия подготовлены для <span>розничных магазинов, компаний HoReCa, спорт - клубов.</span></p>
    </div>
    <div class="for-clients__text">
      <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу любому предложению.</p>
      <p>Если вы заинтересованы в нашей продукции, пишите, или звоните в наш главный офис - мы всегда пойдем вам на встречу!</p>
    </div>
  </div>
</div>
