<div class="tabs-section">
  <div class="tabs-section__tabs tabs">
    <div class="tabs__opening-box">
      <div class="tabs__select-tab">
        <i class="icon"> &#xe823; </i>
        Крупные супермаркеты
      </div>
      <span class="tabs__opening-icon arrow"></span>
    </div>
    <ul class="tabs__list">
      <li class="tabs__tab active-tab" id="description">
        <i class="icon"> &#xe823; </i>
        Крупные супермаркеты
      </li>
      <li class="tabs__tab" id="packaging">
        <i class="icon"> &#xe821; </i>
        Розничные магазины
      </li>
      <li class="tabs__tab" id="payment">
        <i class="icon"> &#xe807; </i>
        Компании HoReCa
      </li>
      <li class="tabs__tab" id="fitness">
        <i class="icon"> &#xe82e; </i>
        Фитнес и спорт клубы
      </li>
      <li class="tabs__tab" id="confectionery">
        <i class="icon"> &#xe804; </i>
        Кондитерские и пекарни
      </li>
    </ul>
  </div>
  <div class="tabs-section__content">
    <div class="tabs-section__content-container" data-how-content="description">
      <div class="tabs-section__text">
        <p>СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.</p>
        <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.</p>
        <p>Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.</p>
        <p>Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.</p>
        <a class="tabs-section__button" href="mailto:nuts@nbsc.com.ua">
          <div class="tabs-section__button-text">Написать нам</div>
        </a>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/corporate-clients/tab1.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="packaging">
      <div class="tabs-section__text">
        <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.</p>
        <p>Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.</p>
        <p>Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.</p>
        <p>СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.</p>
        <a class="tabs-section__button" href="mailto:nuts@nbsc.com.ua">
          <div class="tabs-section__button-text">Написать нам</div>
        </a>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/corporate-clients/tab2.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="payment">
      <div class="tabs-section__text">
        <p>Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.</p>
        <p>Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.</p>
        <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.</p>
        <p>СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.</p>
        <a class="tabs-section__button" href="mailto:nuts@nbsc.com.ua">
          <div class="tabs-section__button-text">Написать нам</div>
        </a>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/corporate-clients/tab3.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="fitness">
      <div class="tabs-section__text">
        <p>Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.</p>
        <p>Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.</p>
        <p>СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.</p>
        <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.</p>
        <a class="tabs-section__button" href="mailto:nuts@nbsc.com.ua">
          <div class="tabs-section__button-text">Написать нам</div>
        </a>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/corporate-clients/tab4.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
    <div class="tabs-section__content-container not-active" data-how-content="confectionery">
      <div class="tabs-section__text">
        <p>Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью идем на встречу к любому предложению.</p>
        <p>Особые условия подготовленны для розничных магазинов. компаний HoReCa, спорт-клубов.</p>
        <p>СОК "Орех Причерноморья" предлагает своим клиентам выгодные условия сорудничества.</p>
        <p>Если вы заинтересованы в нашей продукции, пишите или звоните в наш главный офис, мы всегда пойдем вам на встречу.</p>
        <a class="tabs-section__button" href="mailto:nuts@nbsc.com.ua">
          <div class="tabs-section__button-text">Написать нам</div>
        </a>
      </div>
      <div class="tabs-section__img-box">
        <img src="@img/corporate-clients/tab5.jpg" alt="nuts" class="tabs-section__img" />
      </div>
    </div>
  </div>
</div>
