<div class="about-manufacturer">
  <div class="about-manufacturer__container">
    <div class="about-manufacturer__content">
      <h2 class="about-manufacturer__title">О производителе</h2>
      <div class="about-manufacturer__text p16">
        <p><span>Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”</span> выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.</p>
        <p>Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.</p>
      </div>
      <a href="about-company.html" class="about-manufacturer__button">
        <div class="about-manufacturer__button-text">Подробнее</div>
      </a>
    </div>
    @@include('../about-manufacturer-swiper.html',{})
  </div>
</div>
