<div class="banner">
  <div class="banner__img-box">
    <!--<img src="@@img" alt="background image" class="banner__img" />-->
    <picture>
      <source media="(max-width: 375px)" srcset="@@img-375" width="375" height="450" />
      <source media="(min-width: 376px)" srcset="@@img" />
      <img src="@@img" alt="background image" class="banner__img" />
    </picture>
    <div class="banner__shading"></div>
  </div>
  <div class="banner__container">
    <div class="banner__content">
      <h1 class="banner__title">@@title</h1>
      <div class="banner__text subtitle-h1">@@subtitle</div>
      <div class="banner__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="banner__play-icon icon"> &#xe81b; </i>
      </div>
    </div>
  </div>
</div>
