<div class="banner">
  <div class="banner__container">
    <div class="banner__content">
      <h1 class="banner__title">
        @@title

        <!--Орех Причерноморья-->
      </h1>
      <div class="banner__text subtitle-h1">
        @@subtitle

        <!--Единственный в Украине сад совместного выращивание фундука и грецкого ореха-->
      </div>
      <div class="banner__play-icon-box play-video" data-content="https://www.youtube.com/embed/Aa2MI0obgvg">
        <i class="banner__play-icon icon"> &#xe81b; </i>
      </div>
    </div>
  </div>
</div>
