<div class="product-benefits">
  <div class="product-benefits__container">
    <h2 class="product-benefits__title">О пользе продукта</h2>
    <div class="product-benefits__subtitle subtitle-h2">Каждый вид ореха содержит свой неповторимый уникальный баланс витаминов, и микроэлементов</div>
    <div class="product-benefits__cards">
      <div class="product-benefits__card card-walnut">
        <div class="product-benefits__card-icon">
          <i class="product-benefits__walnut-icon icon"> &#xe80c; </i>
        </div>
        <div class="product-benefits__card-heading">Грецкий орех</div>
        <div class="product-benefits__card-text subtitle-h2">
          <p>Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.</p>
          <p>Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих заболеваний</p>
        </div>
      </div>
      <div class="product-benefits__card card-hazelnut">
        <img src="@img/main/hazelnut.jpg" alt="nut" />
        <div class="product-benefits__card-base-layer">
          <div class="product-benefits__card-icon">
            <i class="product-benefits__hazelnut-icon icon"> &#xe828; </i>
          </div>
          <div class="product-benefits__card-heading">Фундук</div>
        </div>
        <div class="product-benefits__card-hover-layer subtitle-h2">
          <div class="product-benefits__card-hover-layer-box">
            <p>Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.</p>
            <p>Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих заболеваний</p>
          </div>
        </div>
      </div>
      <div class="product-benefits__card card-rosehip">
        <div class="product-benefits__card-icon">
          <i class="product-benefits__rosehip-icon icon"> &#xe80d; </i>
        </div>
        <div class="product-benefits__card-heading">Шиповник</div>
        <div class="product-benefits__card-text subtitle-h2">
          <p>Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.</p>
          <p>Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих заболеваний</p>
        </div>
      </div>
    </div>
  </div>
</div>
